
# Kconfig file for package realtek_ameba
config PKG_USING_REALTEK_AMEBA
    bool "realtek_ameba: ameba sdk package for rt-thread"
    default n

if PKG_USING_REALTEK_AMEBA

    config PKG_REALTEK_AMEBA_PATH
        string
        default "/packages/peripherals/realtek_ameba"

    choice
        prompt "realtek_ameba version"
        help
            Select the realtek_ameba version

        config PKG_USING_REALTEK_AMEBA_LATEST_VERSION
            bool "latest"

        config PKG_USING_REALTEK_AMEBA_V100
            bool "v1.0.0"
    endchoice

    config PKG_REALTEK_AMEBA_VER
       string
       default "v1.0.0"    if PKG_USING_REALTEK_AMEBA_V100
       default "latest"    if PKG_USING_REALTEK_AMEBA_LATEST_VERSION

endif

