menu "Signal Processing and Control Algorithm Packages"

rsource "APID/Kconfig"
rsource "fire_pid_curve/Kconfig"
rsource "qpid/Kconfig"
rsource "ukal/Kconfig"
rsource "DigitalCtrl/Kconfig"
rsource "kissfft/Kconfig"
rsource "CMSIS-DSP/Kconfig"

endmenu
