menu "language packages"

rsource "JSON/Kconfig"
rsource "XML/Kconfig"
rsource "LuatOS/Kconfig"
rsource "Lua/Kconfig"
rsource "jerryscript/Kconfig"
rsource "micropython/Kconfig"
rsource "pikascript/Kconfig"
rsource "rtt_rust/Kconfig"

endmenu
