menu "miscellaneous packages"

rsource "projects/Kconfig"
rsource "samples/Kconfig"
rsource "entertainment/Kconfig"
rsource "libcsv/Kconfig"
rsource "optparse/Kconfig"
rsource "fastlz/Kconfig"
rsource "miniLZO/Kconfig"
rsource "quicklz/Kconfig"
rsource "lzma/Kconfig"
rsource "ralarm/Kconfig"
rsource "MultiButton/Kconfig"
rsource "FlexibleButton/Kconfig"
rsource "CanFestival/Kconfig"
rsource "zlib/Kconfig"
rsource "minizip/Kconfig"
rsource "heatshrink/Kconfig"
rsource "dstr/Kconfig"
rsource "TinyFrame/Kconfig"
rsource "kendryte-demo/Kconfig"
rsource "upacker/Kconfig"
rsource "uparam/Kconfig"
rsource "hello/Kconfig"
rsource "vi/Kconfig"
rsource "ki/Kconfig"
rsource "armv7m_dwt/Kconfig"
rsource "crclib/Kconfig"
rsource "lwgps/Kconfig"
rsource "state_machine/Kconfig"
rsource "design_pattern/Kconfig"
rsource "Controller/Kconfig"
rsource "phase-locked-loop/Kconfig"
rsource "MFBD/Kconfig"
rsource "slcan2rtt/Kconfig"
rsource "soem/Kconfig"
rsource "qparam/Kconfig"
rsource "CorevMCU_CLI/Kconfig"
rsource "get_irq_priority/Kconfig"
endmenu
