# Kconfig file for package stm32wb_cmsis_driver
menuconfig PKG_USING_STM32WB_CMSIS_DRIVER
    bool "STM32 WB CMSIS driver package"
    select PKG_USING_CMSIS_CORE
    default n

if PKG_USING_STM32WB_CMSIS_DRIVER

    config PKG_STM32WB_CMSIS_DRIVER_PATH
        string
        default "/packages/peripherals/hal-sdk/stm32/stm32wb_cmsis_driver"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_STM32WB_CMSIS_DRIVER_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_STM32WB_CMSIS_DRIVER_VER
       string
       default "latest"    if PKG_USING_STM32WB_CMSIS_DRIVER_LATEST_VERSION

endif

