
# Kconfig file for package ali-iotkit v203

choice
    prompt "Select Aliyun platform"
	default PKG_USING_ALI_IOTKIT_IS_LINKPLATFORM
    help
        Select Aliyun platform

    config PKG_USING_ALI_IOTKIT_IS_LINKDEVELOP
        bool "LinkDevelop Platform"
        help
            Use LinkDevelop Platform
        
    config PKG_USING_ALI_IOTKIT_IS_LINKPLATFORM
        bool "LinkPlatform Platform"
        help
            Use LinkPlatform Platform
endchoice

config PKG_USING_ALI_IOTKIT_MQTT
    bool "Enable MQTT"
    default n 

if PKG_USING_ALI_IOTKIT_MQTT
    config PKG_USING_ALI_IOTKIT_MQTT_SAMPLE
        bool "Enable MQTT sample"
        default y
    config PKG_USING_ALI_IOTKIT_MQTT_DIRECT
        bool "Enable MQTT direct connect"
        default y
    config PKG_USING_ALI_IOTKIT_MQTT_TLS
        bool "Enable SSL"
        default n
        select PKG_USING_MBEDTLS
endif

config PKG_USING_ALI_IOTKIT_COAP
    bool "Enable COAP"
    default n

if PKG_USING_ALI_IOTKIT_COAP
    config PKG_USING_ALI_IOTKIT_COAP_SAMPLE
        bool "Enable COAP sample"
        default y
    config PKG_USING_ALI_IOTKIT_COAP_DTLS
        bool "Enable SSL"
        default n
        select PKG_USING_MBEDTLS
endif

config PKG_USING_ALI_IOTKIT_OTA
    bool "Enable OTA"
    default n

if PKG_USING_ALI_IOTKIT_OTA
    choice
        prompt "Select OTA channel"
		default PKG_USING_ALI_IOTKIT_MQTT_OTA
        help
            Select OTA channel
            
        config PKG_USING_ALI_IOTKIT_MQTT_OTA
            bool "Use MQTT OTA channel"
            select PKG_USING_MBEDTLS
            select PKG_USING_ALI_IOTKIT_MQTT
            select PKG_USING_ALI_IOTKIT_MQTT_TLS
            help
                Obtain OTA information through MQTT

        config PKG_USING_ALI_IOTKIT_COAP_OTA
            bool "Use COAP OTA channel"
            select PKG_USING_MBEDTLS
            select PKG_USING_ALI_IOTKIT_COAP
            help
                Obtain OTA information through COAP
    endchoice
endif
