
# Kconfig file for package MemoryPerf
menuconfig PKG_USING_MEMORYPERF
    bool "MemoryPerf: Memory Performance Testing"
    default n

if PKG_USING_MEMORYPERF

    config PKG_MEMORYPERF_PATH
        string
        default "/packages/tools/MemoryPerf"

    choice
        prompt "Version"
        default PKG_USING_MEMORYPERF_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_MEMORYPERF_V100
            bool "v1.0.0"

        config PKG_USING_MEMORYPERF_LATEST_VERSION
            bool "latest"
    endchoice

    if !PKG_USING_MEMORYPERF_V100
        choice
            prompt "CPU ARCH"
            default PKG_MEMORYPERF_ARCH_ARM
            help
                Select the package cpu arch

            config PKG_MEMORYPERF_ARCH_ARM
                bool "ARM"

            config PKG_MEMORYPERF_ARCH_RISCV
                bool "RISC-V"
        endchoice
    endif

    config PKG_MEMORYPERF_ENABLE_64BIT
        bool "Enable 64bit"
        default n

    config PKG_MEMORYPERF_USING_HEAP
        bool "mem alloc using heap"
        default n
        if PKG_MEMORYPERF_USING_HEAP
        config PKG_MEMORYPERF_ALLOC_SIZE
            hex "mem alloc size"
            default 0x100000
        endif

    config PKG_MEMORYPERF_VER
       string
       default "v1.0.0"    if PKG_USING_MEMORYPERF_V100
       default "latest"    if PKG_USING_MEMORYPERF_LATEST_VERSION

endif

