
# Kconfig file for package Adafruit-PCT2075
menuconfig PKG_USING_ARDUINO_ADAFRUIT_PCT2075
    bool "Adafruit PCT2075: temperature sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_PCT2075

    config PKG_ARDUINO_ADAFRUIT_PCT2075_PATH
        string
        default "/packages/arduino/sensors/Adafruit-PCT2075"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_PCT2075_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_PCT2075_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_PCT2075_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_PCT2075_LATEST_VERSION

endif

