
menuconfig PKG_USING_WEBTERMINAL
    bool "WebTerminal: Terminal runs in a Web browser"
    default n

if PKG_USING_WEBTERMINAL

    config PKG_WEBTERMINAL_PATH
        string
        default "/packages/iot/WebTerminal"

    config PKG_WEBTERMINAL_PORT
        string
        prompt "The port number for Web terminal"
        default "8090"

    choice
        prompt "Version"
        help
            Select the this package version

        config PKG_USING_WEBTERMINAL_V00102
            bool "v0.1.2"

        config PKG_USING_WEBTERMINAL_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_WEBTERMINAL_VER
        string
        default "v0.1.2" if PKG_USING_WEBTERMINAL_V00102
        default "latest" if PKG_USING_WEBTERMINAL_LATEST_VERSION

endif
