# Kconfig file for package optparse
menuconfig PKG_USING_OPTPARSE
    bool "optparse: a public domain, portable, reentrant, embeddable, getopt-like option parser."
    default n

if PKG_USING_OPTPARSE

    config PKG_OPTPARSE_PATH
        string
        default "/packages/misc/optparse"

    choice
        prompt "optparse version"
        help
            Select the optparse version

        config PKG_USING_OPTPARSE_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_OPTPARSE_VER
        string
        default "latest" if PKG_USING_OPTPARSE_LATEST_VERSION

    config OPTPARSE_USING_DEMO
        bool
        prompt "optparse demo example"
        default n

endif
