menu "sensors drivers"

rsource "lsm6dsm/Kconfig"
rsource "lsm6dsl/Kconfig"
rsource "lps22hb/Kconfig"
rsource "hts221/Kconfig"
rsource "lsm303agr/Kconfig"
rsource "bme280/Kconfig"
rsource "bme680/Kconfig"
rsource "bma400/Kconfig"
rsource "bmi160_bmx160/Kconfig"
rsource "spl0601/Kconfig"
rsource "ms5805/Kconfig"
rsource "da270/Kconfig"
rsource "df220/Kconfig"
rsource "hshcal001/Kconfig"
rsource "bh1750/Kconfig"
rsource "mpu6xxx/Kconfig"
rsource "aht10/Kconfig"
rsource "ap3216c/Kconfig"
rsource "tsl4531/Kconfig"
rsource "ds18b20/Kconfig"
rsource "dht11/Kconfig"
rsource "dhtxx/Kconfig"
rsource "gy271/Kconfig"
rsource "gp2y10/Kconfig"
rsource "sgp30/Kconfig"
rsource "hdc1000/Kconfig"
rsource "bmp180/Kconfig"
rsource "bmp280/Kconfig"
rsource "shtc1/Kconfig"
rsource "bmi088/Kconfig"
rsource "hmc5883/Kconfig"
rsource "max6675/Kconfig"
rsource "tmp1075/Kconfig"
rsource "sr04/Kconfig"
rsource "ccs811/Kconfig"
rsource "pmsxx/Kconfig"
rsource "rt3020/Kconfig"
rsource "mlx90632/Kconfig"
rsource "mlx90393/Kconfig"
rsource "mlx90392/Kconfig"
rsource "mlx90397/Kconfig"
rsource "ms5611/Kconfig"
rsource "max31865/Kconfig"
rsource "vl53l0x/Kconfig"
rsource "ina260/Kconfig"
rsource "max30102/Kconfig"
rsource "ina226/Kconfig"
rsource "lis2dh12/Kconfig"
rsource "hs300x/Kconfig"
rsource "zmod4410/Kconfig"
rsource "isl29035/Kconfig"
rsource "mmc3680kj/Kconfig"
rsource "qmp6989/Kconfig"
rsource "balance/Kconfig"
rsource "sht2x/Kconfig"
rsource "sht3x/Kconfig"
rsource "sht4x/Kconfig"
rsource "ad7746/Kconfig"
rsource "adt74xx/Kconfig"
rsource "max17048/Kconfig"
rsource "as7341/Kconfig"
rsource "cw2015/Kconfig"
rsource "icm20608/Kconfig"
rsource "PAJ7620/Kconfig"
rsource "sths34pf80/Kconfig"

endmenu
