
# Kconfig file for package itoa
menuconfig PKG_USING_POSIX_ITOA
    bool "Enable itoa family (non-standard POSIX)"
    default n

if PKG_USING_POSIX_ITOA

    config PKG_POSIX_ITOA_PATH
        string
        default "/packages/system/POSIX/itoa"

    config PKG_POSIX_ITOA_VER
       string
       default "latest"

endif

