
# Kconfig file for package x9555
menuconfig PKG_USING_X9555
    bool "x9555: I/O expander with interrupt, weak pull-up & config registers"
    default n
    help
       enable : using x9555 pkgs.
       disable: donot using x9555 pkgs.

if PKG_USING_X9555

    config PKG_X9555_PATH
        string
        default "/packages/peripherals/x9555"

    menuconfig PKG_USING_X9555_EXAMPLE
        bool "Enable X9555 example"
        default n
        help
           enable : using x9555 pkgs example.
           disable: donot using x9555 pkgs example.

        select RT_USING_PIN
        select RT_USING_I2C    

    menuconfig CONFIG_X9555_HARDWAER
        bool "Config X9555 Hardware"
        default n

    if CONFIG_X9555_HARDWAER

        choice
            prompt "Select Development Tool"
            default USING_RT_STUDIO_DEVELOPMENE_TOOL
    
            config USING_RT_STUDIO_DEVELOPMENE_TOOL
                bool "Using RT-Thread Studio Development"
    
            config USING_OTHER_DEVELOPMENE_TOOL
                bool "Using Other tool Development"
        endchoice
    
        menuconfig X9555_USING_I2C1_BUS
            bool "X9555 pkgs using i2c1"
            default n     
              
        if X9555_USING_I2C1_BUS
            config BSP_USING_I2C1
                string "I2C1 device name"
                default "i2c1"
                help
                   x9555 pkgs using I2C1 device name.
    
            config BSP_I2C1_SCL_PIN
                int "x9555 pkgs using I2C1 SCL pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 0
                help
                   set x9555 pkgs using I2C1 SCL pin, example: pin number = GET_PIN(A, 0).
    
            config BSP_I2C1_SDA_PIN
                int "x9555 pkgs using I2C1 SDA pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 1
                help
                   set x9555 pkgs using I2C1 SDA pin, example: pin number = GET_PIN(A, 1).

            menuconfig USING_I2C1_X9555_ADDRESS_0X00_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x00 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X00_INTERRUPT
                config I2C1_X9555_ADDRESS_0X00_INTERRUPT
                int "i2c1 X9555 device [ address : 0x00 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C1_X9555_ADDRESS_0X01_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x01 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X01_INTERRUPT
                config I2C1_X9555_ADDRESS_0X01_INTERRUPT
                int "i2c1 X9555 device [ address : 0x01 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C1_X9555_ADDRESS_0X02_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x02 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X02_INTERRUPT
                config I2C1_X9555_ADDRESS_0X02_INTERRUPT
                int "i2c1 X9555 device [ address : 0x02 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C1_X9555_ADDRESS_0X03_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x03 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X03_INTERRUPT
                config I2C1_X9555_ADDRESS_0X03_INTERRUPT
                int "i2c1 X9555 device [ address : 0x03 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C1_X9555_ADDRESS_0X04_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x04 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X04_INTERRUPT
                config I2C1_X9555_ADDRESS_0X04_INTERRUPT
                int "i2c1 X9555 device [ address : 0x04 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C1_X9555_ADDRESS_0X05_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x05 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X05_INTERRUPT
                config I2C1_X9555_ADDRESS_0X05_INTERRUPT
                int "i2c1 X9555 device [ address : 0x05 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C1_X9555_ADDRESS_0X06_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x06 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X06_INTERRUPT
                config I2C1_X9555_ADDRESS_0X06_INTERRUPT
                int "i2c1 X9555 device [ address : 0x06 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C1_X9555_ADDRESS_0X07_INTERRUPT
            bool "enable i2c1 X9555 device [ address : 0x07 ] interrupt pin"
            default n

            if USING_I2C1_X9555_ADDRESS_0X07_INTERRUPT
                config I2C1_X9555_ADDRESS_0X07_INTERRUPT
                int "i2c1 X9555 device [ address : 0x07 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif
        endif
    
        menuconfig X9555_USING_I2C2_BUS
            bool "X9555 pkgs using i2c2"
            default n     
              
        if X9555_USING_I2C2_BUS
            config BSP_USING_I2C2
                string "I2C2 device name"
                default "i2c2"
                help
                   x9555 pkgs using I2C2 device name.
    
            config BSP_I2C2_SCL_PIN
                int "x9555 pkgs using I2C2 SCL pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 0
                help
                   set x9555 pkgs using I2C2 SCL pin, example: pin number = GET_PIN(A, 0).
    
            config BSP_I2C2_SDA_PIN
                int "x9555 pkgs using I2C2 SDA pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 1
                help
                   set x9555 pkgs using I2C2 SDA pin, example: pin number = GET_PIN(A, 1).

            menuconfig USING_I2C2_X9555_ADDRESS_0X00_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x00 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X00_INTERRUPT
                config I2C2_X9555_ADDRESS_0X00_INTERRUPT
                int "i2c2 X9555 device [ address : 0x00 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C2_X9555_ADDRESS_0X01_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x01 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X01_INTERRUPT
                config I2C2_X9555_ADDRESS_0X01_INTERRUPT
                int "i2c2 X9555 device [ address : 0x01 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C2_X9555_ADDRESS_0X02_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x02 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X02_INTERRUPT
                config I2C2_X9555_ADDRESS_0X02_INTERRUPT
                int "i2c2 X9555 device [ address : 0x02 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C2_X9555_ADDRESS_0X03_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x03 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X03_INTERRUPT
                config I2C2_X9555_ADDRESS_0X03_INTERRUPT
                int "i2c2 X9555 device [ address : 0x03 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C2_X9555_ADDRESS_0X04_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x04 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X04_INTERRUPT
                config I2C2_X9555_ADDRESS_0X04_INTERRUPT
                int "i2c2 X9555 device [ address : 0x04 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C2_X9555_ADDRESS_0X05_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x05 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X05_INTERRUPT
                config I2C2_X9555_ADDRESS_0X05_INTERRUPT
                int "i2c2 X9555 device [ address : 0x05 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C2_X9555_ADDRESS_0X06_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x06 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X06_INTERRUPT
                config I2C2_X9555_ADDRESS_0X06_INTERRUPT
                int "i2c2 X9555 device [ address : 0x06 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C2_X9555_ADDRESS_0X07_INTERRUPT
            bool "enable i2c2 X9555 device [ address : 0x07 ] interrupt pin"
            default n

            if USING_I2C2_X9555_ADDRESS_0X07_INTERRUPT
                config I2C2_X9555_ADDRESS_0X07_INTERRUPT
                int "i2c2 X9555 device [ address : 0x07 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif                   
        endif
    
        menuconfig X9555_USING_I2C3_BUS
            bool "X9555 pkgs using i2c3"
            default n     
              
        if X9555_USING_I2C3_BUS
            config BSP_USING_I2C3
                string "I2C3 device name"
                default "i2c3"
                help
                   x9555 pkgs using I2C3 device name.
    
            config BSP_I2C3_SCL_PIN
                int "x9555 pkgs using I2C3 SCL pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 0
                help
                   set x9555 pkgs using I2C3 SCL pin, example: pin number = GET_PIN(A, 0).
    
            config BSP_I2C3_SDA_PIN
                int "x9555 pkgs using I2C3 SDA pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 1
                help
                   set x9555 pkgs using I2C3 SDA pin, example: pin number = GET_PIN(A, 1).

            menuconfig USING_I2C3_X9555_ADDRESS_0X00_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x00 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X00_INTERRUPT
                config I2C3_X9555_ADDRESS_0X00_INTERRUPT
                int "i2c3 X9555 device [ address : 0x00 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C3_X9555_ADDRESS_0X01_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x01 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X01_INTERRUPT
                config I2C3_X9555_ADDRESS_0X01_INTERRUPT
                int "i2c3 X9555 device [ address : 0x01 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C3_X9555_ADDRESS_0X02_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x02 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X02_INTERRUPT
                config I2C3_X9555_ADDRESS_0X02_INTERRUPT
                int "i2c3 X9555 device [ address : 0x02 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C3_X9555_ADDRESS_0X03_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x03 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X03_INTERRUPT
                config I2C3_X9555_ADDRESS_0X03_INTERRUPT
                int "i2c3 X9555 device [ address : 0x03 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C3_X9555_ADDRESS_0X04_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x04 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X04_INTERRUPT
                config I2C3_X9555_ADDRESS_0X04_INTERRUPT
                int "i2c3 X9555 device [ address : 0x04 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C3_X9555_ADDRESS_0X05_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x05 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X05_INTERRUPT
                config I2C3_X9555_ADDRESS_0X05_INTERRUPT
                int "i2c3 X9555 device [ address : 0x05 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C3_X9555_ADDRESS_0X06_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x06 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X06_INTERRUPT
                config I2C3_X9555_ADDRESS_0X06_INTERRUPT
                int "i2c3 X9555 device [ address : 0x06 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C3_X9555_ADDRESS_0X07_INTERRUPT
            bool "enable i2c3 X9555 device [ address : 0x07 ] interrupt pin"
            default n

            if USING_I2C3_X9555_ADDRESS_0X07_INTERRUPT
                config I2C3_X9555_ADDRESS_0X07_INTERRUPT
                int "i2c3 X9555 device [ address : 0x07 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif                   
        endif
    
        menuconfig X9555_USING_I2C4_BUS
            bool "X9555 pkgs using i2c4"
            default n     
              
        if X9555_USING_I2C4_BUS
            config BSP_USING_I2C4
                string "I2C4 device name"
                default "i2c4"
                help
                   x9555 pkgs using I2C4 device name.
    
            config BSP_I2C4_SCL_PIN
                int "x9555 pkgs using I2C4 SCL pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 0
                help
                   set x9555 pkgs using I2C4 SCL pin, example: pin number = GET_PIN(A, 0).
    
            config BSP_I2C4_SDA_PIN
                int "x9555 pkgs using I2C4 SDA pin"
                depends on USING_OTHER_DEVELOPMENE_TOOL
                default 1
                help
                   set x9555 pkgs using I2C4 SDA pin, example: pin number = GET_PIN(A, 1).

            menuconfig USING_I2C4_X9555_ADDRESS_0X00_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x00 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X00_INTERRUPT
                config I2C4_X9555_ADDRESS_0X00_INTERRUPT
                int "i2c4 X9555 device [ address : 0x00 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C4_X9555_ADDRESS_0X01_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x01 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X01_INTERRUPT
                config I2C4_X9555_ADDRESS_0X01_INTERRUPT
                int "i2c4 X9555 device [ address : 0x01 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C4_X9555_ADDRESS_0X02_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x02 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X02_INTERRUPT
                config I2C4_X9555_ADDRESS_0X02_INTERRUPT
                int "i2c4 X9555 device [ address : 0x02 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C4_X9555_ADDRESS_0X03_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x03 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X03_INTERRUPT
                config I2C4_X9555_ADDRESS_0X03_INTERRUPT
                int "i2c4 X9555 device [ address : 0x03 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C4_X9555_ADDRESS_0X04_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x04 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X04_INTERRUPT
                config I2C4_X9555_ADDRESS_0X04_INTERRUPT
                int "i2c4 X9555 device [ address : 0x04 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C4_X9555_ADDRESS_0X05_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x05 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X05_INTERRUPT
                config I2C4_X9555_ADDRESS_0X05_INTERRUPT
                int "i2c4 X9555 device [ address : 0x05 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C4_X9555_ADDRESS_0X06_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x06 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X06_INTERRUPT
                config I2C4_X9555_ADDRESS_0X06_INTERRUPT
                int "i2c4 X9555 device [ address : 0x06 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif

            menuconfig USING_I2C4_X9555_ADDRESS_0X07_INTERRUPT
            bool "enable i2c4 X9555 device [ address : 0x07 ] interrupt pin"
            default n

            if USING_I2C4_X9555_ADDRESS_0X07_INTERRUPT
                config I2C4_X9555_ADDRESS_0X07_INTERRUPT
                int "i2c4 X9555 device [ address : 0x07 ] interrupt pin"
                default 1
                help
                   set example: pin number = GET_PIN(A, 1).
            endif                   
        endif

    endif

    choice
        prompt "Version"
        default PKG_USING_X9555_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_X9555_LATEST_VERSION
            bool "latest"

    endchoice

    config PKG_X9555_VER
       string
       default "latest"    if PKG_USING_X9555_LATEST_VERSION

endif

