
# Kconfig file for package LuatOS_SOC
menuconfig PKG_USING_LUATOS_SOC
    select RT_USING_DFS          if RT_VER_NUM < 0x40100
    select RT_USING_POSIX        if RT_VER_NUM < 0x40100
    select RT_USING_LIBC         if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS     if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_STDIO  if RT_VER_NUM >= 0x40100
    select RT_USING_TIMER_SOFT
    select RT_USING_DFS_ROMFS
    bool "LUATOS : Powerful embedded Lua Engine for IoT devices"
    default n

if PKG_USING_LUATOS_SOC

    config PKG_LUATOS_SOC_PATH
        string
        default "/packages/language/LuatOS"

    choice
        prompt "Version"
        default PKG_USING_LUATOS_SOC_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_LUATOS_SOC_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_LUATOS_SOC_VER
       string
       default "latest"    if PKG_USING_LUATOS_SOC_LATEST_VERSION

config PKG_USING_LUATOS_SOC_LCD
    bool "LuatOS_SOC using lcd"
    default n

config PKG_USING_LUATOS_SOC_EINK
    bool "LuatOS_SOC using eink"
    default n

config PKG_LUATOS_SOC_LUAT_HEAP_SIZE
    int "LuatOS heap size"
    range 1 999
    default 64

endif

