
# Kconfig file for package sl
menuconfig PKG_USING_SL
    bool "sl: steam locomotive runs across your terminal when you type 'sl' as you meant to type 'ls'"
    select PKG_USING_VT100
    default n

if PKG_USING_SL

    config PKG_SL_PATH
        string
        default "/packages/misc/entertainment/sl"

    choice
        prompt "Version"
        default PKG_USING_SL_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_SL_LATEST_VERSION
            bool "latest"
    endchoice
 
    config PKG_SL_VER
       string
       default "latest"    if PKG_USING_SL_LATEST_VERSION

endif

