
# Kconfig file for package Adafruit-VL6180X
menuconfig PKG_USING_ARDUINO_ADAFRUIT_VL6180X
    bool "Please add description of Adafruit-VL6180X in English."
    default n

if PKG_USING_ARDUINO_ADAFRUIT_VL6180X

    config PKG_ARDUINO_ADAFRUIT_VL6180X_PATH
        string
        default "/packages/arduino/sensors/Adafruit-VL6180X"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_VL6180X_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_VL6180X_V100
            bool "v1.0.0"

        config PKG_USING_ARDUINO_ADAFRUIT_VL6180X_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_VL6180X_VER
       string
       default "v1.0.0"    if PKG_USING_ARDUINO_ADAFRUIT_VL6180X_V100
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_VL6180X_LATEST_VERSION

endif

