menu "Signal IO"

rsource "Adafruit-BusIO/Kconfig"
rsource "Adafruit-TCA8418/Kconfig"
rsource "Adafruit-MCP23017/Kconfig"
rsource "Adafruit-ADS1X15/Kconfig"
rsource "Adafruit-AW9523/Kconfig"
rsource "Adafruit-MCP3008/Kconfig"
rsource "Adafruit-MCP4725/Kconfig"
rsource "Adafruit-BD3491FS/Kconfig"


endmenu
