
# Kconfig file for package CMSIS-DSP
menuconfig PKG_USING_CMSIS_DSP
    bool "CMSIS-DSP: embedded compute library for Cortex-M and Cortex-A"
    depends on ARCH_ARM_CORTEX_M || ARCH_ARM_CORTEX_A
    default n

if PKG_USING_CMSIS_DSP

    config PKG_CMSIS_DSP_PATH
        string
        default "/packages/signalprocess/CMSIS-DSP"

    config PKG_CMSIS_DSP_BASIC_MATH_FUNCTIONS
        bool "basic math functions"
        default y

    config PKG_CMSIS_DSP_BAYES_FUNCTIONS
        bool "Bayes classifier functions"
        default n

    config PKG_CMSIS_DSP_COMMON_TABLES
        bool "Common tables"
        default n

    config PKG_CMSIS_DSP_COMPLEX_MATH_FUNCTIONS
        bool "Complex math functions"
        default n

    config PKG_CMSIS_DSP_CONTROLLER_FUNCTIONS
        bool "Motor control functions"
        default n

    config PKG_CMSIS_DSP_DISTANCE_FUNCTIONS
        bool "Distance functions"
        default n

    config PKG_CMSIS_DSP_FAST_MATH_FUNCTIONS
        bool "Fast math functions"
        default n

    config PKG_CMSIS_DSP_FILTERING_FUNCTIONS
        bool "Filtering functions"
        default n

    config PKG_CMSIS_DSP_INTERPOLATION_FUNCTIONS
        bool "Interpolation functions"
        default n

    config PKG_CMSIS_DSP_MATRIX_FUNCTIONS
        bool "Matrix functions"
        default n

    config PKG_CMSIS_DSP_QUATERNION_MATH_FUNCTIONS
        bool "Quaternion functions"
        default n

    config PKG_CMSIS_DSP_STATISTICS_FUNCTIONS
        bool "Statistical functions"
        default n

    config PKG_CMSIS_DSP_SUPPORT_FUNCTIONS
        bool "Support functions"
        default n

    config PKG_CMSIS_DSP_SVM_FUNCTIONS
        bool "Support Vector Machine functions (SVM)"
        default n

    config PKG_CMSIS_DSP_TRANSFORM_FUNCTIONS
        bool "Transform functions"
        default n

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_CMSIS_DSP_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_CMSIS_DSP_VER
       string
       default "latest"    if PKG_USING_CMSIS_DSP_LATEST_VERSION

endif


