# Kconfig file for package TinyUSB
menuconfig PKG_USING_TINYUSB
    bool "TinyUSB: an open source cross-platform USB stack for embedded system"
    default n
    select RT_USING_SEMAPHORE
    select RT_USING_MUTEX
    select RT_USING_MESSAGEQUEUE
    select RT_USING_USB

if PKG_USING_TINYUSB
    config PKG_TINYUSB_PATH
        string
        default "/packages/system/TinyUSB"

    config PKG_TINYUSB_STACK_SIZE
        int "TinyUSB thread stack size"
        default 2048

    config PKG_TINYUSB_THREAD_PRIORITY
        int "TinyUSB thread priority"
        default 8

    config PKG_TINYUSB_MEM_SECTION
        string "Memory section name"
        default ".noncacheable" if SOC_HPM6000
        default ".data"

    config PKG_TINYUSB_MEM_ALIGN
        int "Memory align size"
        default 4

    choice
        prompt "Port number"
        default PKG_TINYUSB_RHPORT_NUM_1

        config PKG_TINYUSB_RHPORT_NUM_1
            bool "1"

        config PKG_TINYUSB_RHPORT_NUM_2
            bool "2"
    endchoice

    config PKG_TINYUSB_RHPORT_NUM
        int
        default 0 if PKG_TINYUSB_RHPORT_NUM_1
        default 1 if PKG_TINYUSB_RHPORT_NUM_2

    choice
        prompt "Port speed"
        default PKG_TINYUSB_FULL_SPEED

        config PKG_TINYUSB_FULL_SPEED
            bool "Full Speed"

        config PKG_TINYUSB_HIGH_SPEED
            bool "High Speed"
    endchoice

    config PKG_TINYUSB_DEVICE_PORT_SPEED
        hex
        default 0x0200 if PKG_TINYUSB_FULL_SPEED
        default 0x0400 if PKG_TINYUSB_HIGH_SPEED

    menuconfig PKG_TINYUSB_DEVICE_ENABLE
        bool "Using USB device"
        default n

    if PKG_TINYUSB_DEVICE_ENABLE
        config PKG_TINYUSB_DEVICE_VID
            hex "Device Vendor ID"
            default 0xCAFE

        config PKG_TINYUSB_DEVICE_PID
            hex "Device Product ID"
            default 0x4000

        config PKG_TINYUSB_DEVICE_MANUFACTURER
            string "Manufacturer name"
            default "TinyUSB"

        config PKG_TINYUSB_DEVICE_PRODUCT
            string "Device name"
            default "TinyUSB Device"

        config PKG_TINYUSB_EDPT0_SIZE
            int "Endpoint 0 size"
            default 64

        config PKG_TINYUSB_DEVICE_CURRENT
            int "Maximum current (mA)"
            default 100

        menuconfig PKG_TINYUSB_DEVICE_CDC
            bool "Using Communication Device Class (CDC)"
            default n

        if PKG_TINYUSB_DEVICE_CDC
            config CFG_TUD_CDC
                int
                default 1

            config PKG_TINYUSB_DEVICE_CDC_STRING
                string "Description of CDC"
                default "TinyUSB CDC"

            config PKG_TINYUSB_DEVICE_CDC_EPNUM_NOTIF
                int "Notification endpoint number"
                default 1

            config PKG_TINYUSB_DEVICE_CDC_EPNUM
                int "Endpoint number"
                default 2

            config PKG_TINYUSB_DEVICE_CDC_RX_BUFSIZE
                int "Rx buffer size"
                default 64

            config PKG_TINYUSB_DEVICE_CDC_TX_BUFSIZE
                int "Tx buffer size"
                default 64
        endif

        menuconfig PKG_TINYUSB_DEVICE_MSC
            bool "Using Mass Storage Class (MSC)"
            default n

        if PKG_TINYUSB_DEVICE_MSC
            config CFG_TUD_MSC
                int
                default 1

            config PKG_TINYUSB_DEVICE_MSC_STRING
                string "Description of MSC"
                default "TinyUSB MSC"

            config PKG_TINYUSB_DEVICE_MSC_VID
                string "SCSI VID"
                default "TinyUSB"

            config PKG_TINYUSB_DEVICE_MSC_PID
                string "SCSI PID"
                default "Mass Storage"

            config PKG_TINYUSB_DEVICE_MSC_REV
                string "SCSI Product revision"
                default "1.0"

            config PKG_TINYUSB_DEVICE_MSC_EPNUM
                int "Endpoint number"
                default 3

            config PKG_TINYUSB_DEVICE_MSC_EP_BUFSIZE
                int "Endpoint buffer size"
                default 4096

            config PKG_TINYUSB_DEVICE_MSC_NAME
                string "The name of the block device used by MSC"
                default "norflash0"
        endif

        menuconfig PKG_TINYUSB_DEVICE_HID
            bool "Using Human Interface Device (HID)"
            default n

        if PKG_TINYUSB_DEVICE_HID
            config CFG_TUD_HID
                int
                default 1

            config PKG_TINYUSB_DEVICE_HID_STRING
                string "Description of HID"
                default "TinyUSB HID"

            config PKG_TINYUSB_DEVICE_HID_EPNUM
                int "Endpoint number"
                default 4

            config PKG_TINYUSB_DEVICE_HID_INT
                int "Polling interval (ms)"
                default 5

            config PKG_TINYUSB_DEVICE_HID_KEYBOARD
                bool "Keyboard report"
                default n

            config PKG_TINYUSB_DEVICE_HID_MOUSE
                bool "Mouse report"
                default n

            config PKG_TINYUSB_DEVICE_HID_GAMEPAD
                bool "Gamepad report"
                default n

            config PKG_TINYUSB_DEVICE_HID_CONSUMER
                bool "Consumer control report"
                default n

            config PKG_TINYUSB_DEVICE_HID_EP_BUFSIZE
                int "Endpoint buffer size"
                default 16
        endif

        config PKG_TINYUSB_DEVICE_EXAMPLE
            bool "Enable USB device example"
            default n

        if PKG_TINYUSB_DEVICE_EXAMPLE
            config PKG_TINYUSB_DEVICE_EXAMPLE_CDC
                bool "CDC device"
                default n
                select PKG_TINYUSB_DEVICE_CDC

            config PKG_TINYUSB_DEVICE_EXAMPLE_HID
                bool "HID device"
                default n
                select PKG_TINYUSB_DEVICE_HID
                select PKG_TINYUSB_DEVICE_HID_KEYBOARD
                select PKG_TINYUSB_DEVICE_HID_MOUSE
        endif
    endif

    menuconfig PKG_TINYUSB_HOST_ENABLE
        bool "Using USB Host"
        default n

    if PKG_TINYUSB_HOST_ENABLE
        config PKG_TINYUSB_HOST_PORT
            int "BOARD_TUH_RHPORT"
            default 0

        config PKG_TINYUSB_HOST_PORT_SPEED
            hex
            default 0x0200 if PKG_TINYUSB_FULL_SPEED
            default 0x0400 if PKG_TINYUSB_HIGH_SPEED
    endif

    choice
        prompt "TinyUSB debug level"
        default PKG_TINYUSB_DEBUG_NO

        config PKG_TINYUSB_DEBUG_NO
            bool "No debug"
        config PKG_TINYUSB_DEBUG_ERROR
            bool "Error"
        config PKG_TINYUSB_DEBUG_WARNING
            bool "Warning"
        config PKG_TINYUSB_DEBUG_INFO
            bool "Info"
    endchoice

    config CFG_TUSB_DEBUG
        int
        default 0 if PKG_TINYUSB_DEBUG_NO
        default 1 if PKG_TINYUSB_DEBUG_ERROR
        default 2 if PKG_TINYUSB_DEBUG_WARNING
        default 3 if PKG_TINYUSB_DEBUG_INFO

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_TINYUSB_V01401
            bool "v0.14.1"

        config PKG_USING_TINYUSB_V01400
            bool "v0.14.0"

        config PKG_USING_TINYUSB_V01301
            bool "v0.13.1"

        config PKG_USING_TINYUSB_V01300
            bool "v0.13.0"

        config PKG_USING_TINYUSB_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_TINYUSB_VER
       string
       default "latest"  if PKG_USING_TINYUSB_LATEST_VERSION
       default "v0.14.0" if PKG_USING_TINYUSB_V01400
       default "v0.14.1" if PKG_USING_TINYUSB_V01401
       default "v0.13.0" if PKG_USING_TINYUSB_V01300
       default "v0.13.1" if PKG_USING_TINYUSB_V01301

endif
