# Kconfig file for package mlx90632
menuconfig PKG_USING_MLX90632
    bool "mlx90632: a mlx90632 package for rt-thread."
    default n

if PKG_USING_MLX90632

    config PKG_MLX90632_USING_SENSOR_V1
        bool "Enable sensor_v1 device framework"
        select RT_USING_SENSOR
        default n

    if PKG_MLX90632_USING_SENSOR_V1
        config PKG_USING_MLX90632_SENSOR_V1_EXAMPLE
            bool "Enable mlx90632 example"
            default n
    endif

    config PKG_MLX90632_PATH
        string
        default "/packages/peripherals/sensors/mlx90632"

    choice
        prompt "Version"
        default PKG_USING_MLX90632_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_MLX90632_V100
            bool "v1.0.0"

        config PKG_USING_MLX90632_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_MLX90632_VER
       string
       default "latest"    if PKG_USING_MLX90632_LATEST_VERSION

endif

