
# Kconfig file for package rt_kprintf_threadsafe
menuconfig PKG_USING_RT_KPRINTF_THREADSAFE
    bool "rt_kprintf_threadsafe: thread-safe version of rt_kprintf"
    default n

if PKG_USING_RT_KPRINTF_THREADSAFE

    config PKG_RT_KPRINTF_THREADSAFE_PATH
        string
        default "/packages/system/enhanced-kservice/rt_kprintf_threadsafe"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_RT_KPRINTF_THREADSAFE_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_RT_KPRINTF_THREADSAFE_VER
       string
       default "latest"    if PKG_USING_RT_KPRINTF_THREADSAFE_LATEST_VERSION

endif

