
# Kconfig file for package uC_CLK
menuconfig PKG_USING_UC_CLK
    bool "uC/Clk for RT-Thread"
    default n
    select PKG_USING_UCOSIII_WRAPPER

if PKG_USING_UC_CLK

    config PKG_UC_CLK_PATH
        string
        default "/packages/system/uC_CLK"

    choice
        prompt "Version"
        default PKG_USING_UC_CLK_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_UC_CLK_V100
            bool "v1.0.0"

        config PKG_USING_UC_CLK_LATEST_VERSION
            bool "latest"
    endchoice
          
    config PKG_UC_CLK_VER
       string
       default "v1.0.0"    if PKG_USING_UC_CLK_V100
       default "latest"    if PKG_USING_UC_CLK_LATEST_VERSION

endif

