menu "AT32 HAL & SDK Drivers"

source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32a403a_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32a403a_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32a423_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32a423_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f45x_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f45x_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f402_405_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f402_405_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f403a_407_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f403a_407_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f413_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f413_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f415_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f415_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f421_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f421_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f423_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f423_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f425_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f425_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f435_437_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32f435_437_cmsis_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32m412_416_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/at32/at32m412_416_cmsis_driver/Kconfig"

endmenu
