source "$PKGS_DIR/packages/iot/Kconfig"
source "$PKGS_DIR/packages/language/Kconfig"
source "$PKGS_DIR/packages/misc/Kconfig"
source "$PKGS_DIR/packages/multimedia/Kconfig"
source "$PKGS_DIR/packages/security/Kconfig"
source "$PKGS_DIR/packages/system/Kconfig"
