# Kconfig file for package lua
menuconfig PKG_USING_LUA
    bool "Lua: A lightweight, embeddable scripting language."
    default n
    select RT_USING_LIBC

if PKG_USING_LUA

    config PKG_LUA_PATH
        string
        default "/packages/language/Lua"

    choice
        prompt "Submitted version"
        help
            Select the Submitted version

        config PKG_USING_LUA_V100
            bool "v1.0.0"

        config PKG_USING_LUA_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_LUA_VER
        string
        default "v1.0.0" if PKG_USING_LUA_V100
        default "latest" if PKG_USING_LUA_LATEST_VERSION

    #menu "Lua Options"
        choice
            prompt "Porting Lua version"
            help
                Select the Porting Lua version

            config LUA_USING_PORTING_V514
                bool "Lua5.1.4"
            config LUA_USING_PORTING_V534
                bool "Lua5.3.4"
        endchoice
    #endmenu

endif
