
# Kconfig file for package ncnn
menuconfig PKG_USING_NCNN
    bool "ncnn package for RT-Thread."
    depends on ARCH_ARMV8
    default n

if PKG_USING_NCNN

    config PKG_NCNN_PATH
        string
        default "/packages/ai/ncnn"

    choice
        prompt "Version"
        default PKG_USING_NCNN_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_NCNN_V100
            bool "v1.0.0"

        config PKG_USING_NCNN_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_NCNN_VER
       string
       default "v1.0.0"    if PKG_USING_NCNN_V100
       default "latest"    if PKG_USING_NCNN_LATEST_VERSION

endif

