
# Kconfig file for package Adafruit_Sensor
menuconfig PKG_USING_ARDUINO_ADAFRUIT_SENSOR
    bool "Adafruit Unified Sensor Framework"
    select PKG_USING_RTDUINO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_SENSOR

    config PKG_ARDUINO_ADAFRUIT_SENSOR_PATH
        string
        default "/packages/arduino/sensors/Adafruit-Sensor"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_SENSOR_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_SENSOR_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_SENSOR_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_SENSOR_LATEST_VERSION

endif

