
# Kconfig file for package CapacitiveSensor
menuconfig PKG_USING_ARDUINO_CAPACITIVESENSOR
    bool "Capacitive Sensor: detect touch or proximity"
    select PKG_USING_RTDUINO
    default n

if PKG_USING_ARDUINO_CAPACITIVESENSOR

    config PKG_ARDUINO_CAPACITIVESENSOR_PATH
        string
        default "/packages/arduino/sensors/CapacitiveSensor"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_CAPACITIVESENSOR_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_CAPACITIVESENSOR_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_CAPACITIVESENSOR_VER
       string
       default "latest"    if PKG_USING_ARDUINO_CAPACITIVESENSOR_LATEST_VERSION

endif

