menuconfig PKG_USING_EZXML
    bool "ezXML is a C library for parsing XML documents."
    default n

if PKG_USING_EZXML

    config PKG_EZXML_PATH
        string
        default "/packages/language/XML/ezXML"

    choice
        prompt "version"
        help
            Select the ezXML version
        default PKG_USING_EZXML_LATEST_VERSION

        config PKG_USING_EZXML_LATEST_VERSION
            bool "latest"

        config PKG_USING_EZXML_V0681
            bool "v0.8.6.1"

        config PKG_USING_EZXML_V068
            bool "v0.8.6"
    endchoice

    config PKG_EZXML_VER
        string
        default "v0.8.6.1"  if PKG_USING_EZXML_V0681
        default "v0.8.6"    if PKG_USING_EZXML_V068
        default "latest"    if PKG_USING_EZXML_LATEST_VERSION

endif
