
# Kconfig file for package minizip
menuconfig PKG_USING_MINIZIP
    bool "minizip: zip manipulation library"
    select PKG_USING_ZLIB
    select RT_USING_DFS      if RT_VER_NUM < 0x40100
    select RT_USING_LIBC     if RT_VER_NUM < 0x40100
    select RT_USING_POSIX    if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS if RT_VER_NUM >= 0x40100
    default n

if PKG_USING_MINIZIP

    config PKG_MINIZIP_PATH
        string
        default "/packages/misc/minizip"

    choice
        prompt "Version"
        default PKG_USING_MINIZIP_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_MINIZIP_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_MINIZIP_VER
       string
       default "latest"    if PKG_USING_MINIZIP_LATEST_VERSION

endif

