
config PKG_USING_FASTLZ
    bool "Fastlz: A portable real-time compression library."
    default n
    help
        FastLZ is very fast and thus suitable for real-time compression 
        and decompression. 
        Perfect to gain more space with almost zero effort.

if PKG_USING_FASTLZ

    config PKG_FASTLZ_PATH
        string
        default "/packages/misc/fastlz"

    config PKG_FASTLZ_VER
        string
        default "v1.0.0"

endif
