menu "IoT - internet of things"

source "$PKGS_DIR/packages/iot/pahomqtt/Kconfig" 
source "$PKGS_DIR/packages/iot/webclient/Kconfig" 
source "$PKGS_DIR/packages/iot/mongoose/Kconfig"
source "$PKGS_DIR/packages/iot/WebTerminal/Kconfig"

source "$PKGS_DIR/packages/iot/cJSON/Kconfig"  
source "$PKGS_DIR/packages/iot/ljson/Kconfig" 
source "$PKGS_DIR/packages/iot/ezXML/Kconfig"
source "$PKGS_DIR/packages/iot/nanopb/Kconfig"

source "$PKGS_DIR/packages/iot/GAgent/Kconfig"

source "$PKGS_DIR/packages/iot/WiFi/Kconfig"

source "$PKGS_DIR/packages/iot/coap/Kconfig"
source "$PKGS_DIR/packages/iot/nopoll/Kconfig"

endmenu
