menu "IoT - internet of things"


rsource "lwip/Kconfig"
rsource "lorawan_driver/Kconfig"
rsource "pahomqtt/Kconfig"
rsource "umqtt/Kconfig"
rsource "webclient/Kconfig"
rsource "webnet/Kconfig"
rsource "mongoose/Kconfig"
rsource "mymqtt/Kconfig"
rsource "kawaii-mqtt/Kconfig"
rsource "bc28_mqtt/Kconfig"
rsource "WebTerminal/Kconfig"
rsource "freemodbus/Kconfig"
rsource "nanopb/Kconfig"
rsource "wifi-host-driver/Kconfig"
rsource "WiFi/Kconfig"
rsource "coap/Kconfig"
rsource "nopoll/Kconfig"
rsource "netutils/Kconfig"
rsource "cmux/Kconfig"
rsource "ppp_device/Kconfig"
rsource "at_device/Kconfig"
rsource "atsrv_socket/Kconfig"
rsource "wiznet/Kconfig"
rsource "zb_coordinator/Kconfig"
rsource "iot_cloud/Kconfig"
rsource "NimBLE/Kconfig"
rsource "llsync_sdk_adapter/Kconfig"
rsource "ota_downloader/Kconfig"
rsource "ipmsg/Kconfig"
rsource "lssdp/Kconfig"
rsource "airkissOpen/Kconfig"
rsource "librws/Kconfig"
rsource "tcpserver/Kconfig"
rsource "protobuf-c/Kconfig"
rsource "dlt645/Kconfig"
rsource "qxwz/Kconfig"
rsource "smtp_client/Kconfig"
rsource "abup_fota/Kconfig"
rsource "libcurl2rtt/Kconfig"
rsource "capnp/Kconfig"
rsource "agile_telnet/Kconfig"
rsource "nmealib/Kconfig"
rsource "pdulib/Kconfig"
rsource "btstack/Kconfig"
rsource "bt_cyw43012/Kconfig"
rsource "cyw43xx/Kconfig"
rsource "lorawan_ed_stack/Kconfig"
rsource "wayz_iotkit/Kconfig"
rsource "mavlink/Kconfig"
rsource "bsal/Kconfig"
rsource "agile_modbus/Kconfig"
rsource "agile_ftp/Kconfig"
rsource "EmbeddedProto/Kconfig"
rsource "rt-link_hw/Kconfig"
rsource "RyanMqtt/Kconfig"
rsource "RyanW5500/Kconfig"
rsource "lora_pkt_fwd/Kconfig"
rsource "lora_pkt_sniffer/Kconfig"
rsource "hm/Kconfig"
rsource "small_modbus/Kconfig"
rsource "net_server/Kconfig"
rsource "zFTP/Kconfig"
rsource "wol/Kconfig"
rsource "zephyr_polling/Kconfig"
rsource "matter-adaptation-layer/Kconfig"
rsource "lhc_modbus/Kconfig"
rsource "qmodbus/Kconfig"
endmenu
