
menuconfig PKG_USING_WEBCLIENT
    bool "WebClient: A HTTP/HTTPS Client for RT-Thread"
    default n

if PKG_USING_WEBCLIENT

    config PKG_WEBCLIENT_PATH
        string
        default "/packages/iot/webclient"

    if PKG_WEBCLIENT_VER_NUM > 0x10000

        config WEBCLIENT_DEBUG
            bool "Enable debug log output"
            default n

        config WEBCLIENT_USING_SAMPLES
            bool "Enable webclient GET/POST samples"
            default n

    endif

    if PKG_WEBCLIENT_VER_NUM > 0x20100

        config WEBCLIENT_USING_FILE_DOWMLOAD
            bool "Enable file download feature support"
            default n
            select RT_USING_DFS

    endif

    if PKG_WEBCLIENT_VER_NUM >= 0x20100

        choice

            prompt "Select TLS mode"
            default WEBCLIENT_NOT_USE_TLS

            config WEBCLIENT_NOT_USE_TLS
                bool "Not support"

            config WEBCLIENT_USING_SAL_TLS
                bool "SAL TLS support"
                select SAL_USING_TLS

            config WEBCLIENT_USING_MBED_TLS
                bool "MbedTLS support"
                select PKG_USING_MBEDTLS

        endchoice

    endif

    if (PKG_WEBCLIENT_VER_NUM >= 0x10000) && (PKG_WEBCLIENT_VER_NUM <= 0x20001)

        config WEBCLIENT_USING_TLS
            bool "Enable support tls protocol"
            default n
            select PKG_USING_MBEDTLS

    endif

    choice

        prompt "Version"
        help
            Select the webclient version
        default PKG_USING_WEBCLIENT_V212
        
        config PKG_USING_WEBCLIENT_V212
            bool "v2.1.2"

        config PKG_USING_WEBCLIENT_V211
            bool "v2.1.1"

        config PKG_USING_WEBCLIENT_V210
            bool "v2.1.0"

        config PKG_USING_WEBCLIENT_V201
            bool "v2.0.1"

        config PKG_USING_WEBCLIENT_V200
            bool "v2.0.0"

        config PKG_USING_WEBCLIENT_V100
            bool "v1.0.0"

        config PKG_USING_WEBCLIENT_LATEST_VERSION
            bool "latest"

    endchoice

    config PKG_WEBCLIENT_VER
       string
       default "v2.1.2"    if PKG_USING_WEBCLIENT_V212
       default "v2.1.1"    if PKG_USING_WEBCLIENT_V211
       default "v2.1.0"    if PKG_USING_WEBCLIENT_V210
       default "v2.0.1"    if PKG_USING_WEBCLIENT_V201
       default "v2.0.0"    if PKG_USING_WEBCLIENT_V200
       default "v1.0.0"    if PKG_USING_WEBCLIENT_V100
       default "latest"    if PKG_USING_WEBCLIENT_LATEST_VERSION

   config PKG_WEBCLIENT_VER_NUM
        hex
        default 0x99999    if PKG_USING_WEBCLIENT_LATEST_VERSION
        default 0x20102    if PKG_USING_WEBCLIENT_V212
        default 0x20101    if PKG_USING_WEBCLIENT_V211
        default 0x20100    if PKG_USING_WEBCLIENT_V210
        default 0x20001    if PKG_USING_WEBCLIENT_V201
        default 0x20000    if PKG_USING_WEBCLIENT_V200
        default 0x10000    if PKG_USING_WEBCLIENT_V100

endif
