
menuconfig PKG_USING_WEBCLIENT
    bool "WebClient: A HTTP/HTTPS Client for RT-Thread"
    default n
    select RT_USING_LIBC

if PKG_USING_WEBCLIENT

    config PKG_WEBCLIENT_PATH
        string
        default "/packages/iot/webclient"

    if !PKG_USING_WEBCLIENT_V100
    
        config WEBCLIENT_USING_SAMPLES
            bool "Enable webclient GET/POST samples"
            default n
            
    endif
            
    if PKG_USING_WEBCLIENT_LATEST_VERSION
    
        choice
        
            prompt "Select TLS mode"
            default WEBCLIENT_NOT_USE_TLS
            
            config WEBCLIENT_NOT_USE_TLS
                bool "Not support"
            
            config WEBCLIENT_USING_SAL_TLS
                bool "SAL TLS support"
                select SAL_USING_TLS
            
            config WEBCLIENT_USING_MBED_TLS
                bool "MbedTLS support"
                select PKG_USING_MBEDTLS
                
        endchoice
        
    endif
    
    if PKG_USING_WEBCLIENT_V201 || PKG_USING_WEBCLIENT_V200|| PKG_USING_WEBCLIENT_V100
    
        config WEBCLIENT_USING_TLS
            bool "Enable support tls protocol"
            default n
            select PKG_USING_MBEDTLS
    
    endif 

    choice

        prompt "Version"
        help
            Select the webclient version
        default PKG_USING_WEBCLIENT_V201

        config PKG_USING_WEBCLIENT_V201
            bool "v2.0.1"
            
        config PKG_USING_WEBCLIENT_V200
            bool "v2.0.0"

        config PKG_USING_WEBCLIENT_V100
            bool "v1.0.0"

        config PKG_USING_WEBCLIENT_LATEST_VERSION
            bool "latest"

    endchoice

    config PKG_WEBCLIENT_VER
       string
       default "v2.0.1"    if PKG_USING_WEBCLIENT_V201
       default "v2.0.0"    if PKG_USING_WEBCLIENT_V200
       default "v1.0.0"    if PKG_USING_WEBCLIENT_V100
       default "latest"    if PKG_USING_WEBCLIENT_LATEST_VERSION

endif
