
# Kconfig file for package Adafruit-BNO08x
menuconfig PKG_USING_ARDUINO_ADAFRUIT_BNO08X
    bool "Adafruit BNO08x: 9-DOF Orientation IMU Fusion"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_SENSOR
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_BNO08X

    config PKG_ARDUINO_ADAFRUIT_BNO08X_PATH
        string
        default "/packages/arduino/sensors/Adafruit-BNO08x"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_BNO08X_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_BNO08X_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_BNO08X_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_BNO08X_LATEST_VERSION

endif

