menu "acceleration: Assembly language or algorithmic acceleration packages"

source "$PKGS_DIR/packages/system/acceleration/Qfplib_M0_full/Kconfig"
source "$PKGS_DIR/packages/system/acceleration/Qfplib_M0_tiny/Kconfig"
source "$PKGS_DIR/packages/system/acceleration/Qfplib_M3/Kconfig"

endmenu
