
# Kconfig file for package stm32u5_hal_driver
menuconfig PKG_USING_STM32U5_HAL_DRIVER
    bool "STM32 U5 HAL driver package"
    select PKG_USING_STM32U5_CMSIS_DRIVER
    default n

if PKG_USING_STM32U5_HAL_DRIVER

    config PKG_STM32U5_HAL_DRIVER_PATH
        string
        default "/packages/peripherals/hal-sdk/stm32/stm32u5_hal_driver"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_STM32U5_HAL_DRIVER_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_STM32U5_HAL_DRIVER_VER
       string
       default "latest"    if PKG_USING_STM32U5_HAL_DRIVER_LATEST_VERSION

endif

