
# Kconfig file for package bme680
menuconfig PKG_USING_BME680
    bool "BME680: Digital 4-in-1 sensor with gas, humidity, pressure and temperature."
    default n

if PKG_USING_BME680

    config PKG_BME680_PATH
        string
        default "/packages/peripherals/sensors/bme680"

    config PKG_USING_BME680_FLOAT_POINT_COMPENSATION
        bool "Enable float point compensation"
        default n

    config PKG_USING_BME680_DEBUG
        bool "Enable debug log output"
        default n

    config PKG_USING_BME680_SAMPLE_I2C
        bool "Enable bme680 i2c sample"
        default n

    if PKG_USING_BME680_SAMPLE_I2C

        config PKG_USING_BME680_SAMPLE_I2C_BUS_NAME
            string "i2c bus name"
            default "i2c1"

        choice
            prompt "Select i2c address"
            default PKG_USING_BME680_I2C_ADDR_LOW

            config PKG_USING_BME680_I2C_ADDR_LOW
                bool "0x76"

            config PKG_USING_BME680_I2C_ADDR_HIGH
                bool "0x77"
        endchoice

        config PKG_USING_BME680_SAMPLE_I2C_ADDRESS
            hex
            default 0x76      if PKG_USING_BME680_I2C_ADDR_LOW
            default 0x77      if PKG_USING_BME680_I2C_ADDR_HIGH

    endif

    choice
        prompt "Version"
        default PKG_USING_BME680_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_BME680_V100
            bool "v1.0.0"

        config PKG_USING_BME680_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_BME680_VER
       string
       default "v1.0.0"    if PKG_USING_BME680_V100
       default "latest"    if PKG_USING_BME680_LATEST_VERSION

endif
