menu "Arduino libraries"

rsource "RTduino/Kconfig"
rsource "projects/Kconfig"
rsource "sensors/Kconfig"
rsource "display/Kconfig"
rsource "timing/Kconfig"
rsource "dataprocessing/Kconfig"
rsource "datastorage/Kconfig"
rsource "communication/Kconfig"
rsource "devicecontrol/Kconfig"
rsource "other/Kconfig"
rsource "signalio/Kconfig"
rsource "uncategorized/Kconfig"

endmenu
