
# Kconfig file for package Adafruit-VEML6070
menuconfig PKG_USING_ARDUINO_ADAFRUIT_VEML6070
    bool "Adafruit Veml6070: Advanced Ultraviolet (UV) Light Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    default n

if PKG_USING_ARDUINO_ADAFRUIT_VEML6070

    config PKG_ARDUINO_ADAFRUIT_VEML6070_PATH
        string
        default "/packages/arduino/sensors/Adafruit-VEML6070"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_VEML6070_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_VEML6070_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_VEML6070_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_VEML6070_LATEST_VERSION

endif

