
# Kconfig file for package tsl4531
menuconfig PKG_USING_TSL4531
    bool "TSL4531: a digital ambient light and a proximity senseor tsl4531 driver library."
    default n

if PKG_USING_TSL4531

    config PKG_TSL4531_PATH
        string
        default "/packages/peripherals/sensors/tsl4531"

    choice
        prompt "Version"
        default PKG_USING_TSL4531_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_TSL4531_V011
            bool "v0.1.1"

        config PKG_USING_TSL4531_LATEST_VERSION
            bool "latest"
    endchoice
          
    config PKG_TSL4531_VER
       string
       default "v0.1.1"    if PKG_USING_TSL4531_V011
       default "latest"    if PKG_USING_TSL4531_LATEST_VERSION

endif

