
# Kconfig file for package Adafruit-SGP40
menuconfig PKG_USING_ARDUINO_ADAFRUIT_SGP40
    bool "Adafruit SGP40: Gas/Air Quality I2C Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_SGP40

    config PKG_ARDUINO_ADAFRUIT_SGP40_PATH
        string
        default "/packages/arduino/sensors/Adafruit-SGP40"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_SGP40_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_SGP40_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_SGP40_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_SGP40_LATEST_VERSION

endif

