
# Kconfig file for package getline
menuconfig PKG_USING_POSIX_GETLINE
    bool "Enable getline/getdelim (IEEE Std 1003.1-2008)"
    select RT_USING_POSIX_FS
    select RT_USING_POSIX_STDIO
    default n

if PKG_USING_POSIX_GETLINE

    config PKG_POSIX_GETLINE_PATH
        string
        default "/packages/system/POSIX/getline"
          
    config PKG_POSIX_GETLINE_VER
       string
       default "latest"

endif

