
# Kconfig file for package lv_music_demo
menuconfig PKG_USING_LV_MUSIC_DEMO
    bool "Enable LVGL music player demo for RT-Thread"
    default n

if PKG_USING_LV_MUSIC_DEMO

    config PKG_LV_MUSIC_DEMO_PATH
        string
        default "/packages/multimedia/LVGL/lv_music_demo"

    config PKG_LV_MUSIC_DEMO_VER
       string
       default "latest"    if PKG_LVGL_VER_NUM = 0x99999 #LVGL latest version
       default "v0.2.0"    if PKG_LVGL_VER_NUM = 0x08020 #LVGL v8.2.0

endif
