
# Kconfig file for package lv_music_demo
menuconfig PKG_USING_LV_MUSIC_DEMO
    bool "Enable LVGL music player demo for RT-Thread"
    default n

if PKG_USING_LV_MUSIC_DEMO

    config PKG_LV_MUSIC_DEMO_PATH
        string
        default "/packages/multimedia/LVGL/lv_music_demo"

    config PKG_LV_MUSIC_DEMO_VER
       string
       default "latest"    if PKG_LVGL_USING_LATEST_VERSION #LVGL latest version
       default "v0.2.0"    if PKG_LVGL_USING_V08020         #LVGL v8.2.0
       default "v0.3.0"    if PKG_LVGL_USING_V08030         #LVGL v8.3.0

endif
