config PKG_USING_PAHO_MQTT
    bool "A mqtt package"
    default n

if PKG_USING_PAHO_MQTT

    config PKG_PAHO_MQTT_PATH
        string
        default "/packages/iot/paho-mqtt"

    select PKG_PAHO_MQTT_PATH

    config PKG_PAHO_MQTT_VER
        string
        default "v1.0.0"

    select PKG_PAHO_MQTT_VER

endif
