
# Kconfig file for package Seeed-HM3301
menuconfig PKG_USING_ARDUINO_SEEED_HM3301
    bool "Seeed HM3301: dust detection sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    default n

if PKG_USING_ARDUINO_SEEED_HM3301

    config PKG_ARDUINO_SEEED_HM3301_PATH
        string
        default "/packages/arduino/sensors/Seeed-HM3301"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_SEEED_HM3301_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_SEEED_HM3301_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_SEEED_HM3301_VER
       string
       default "latest"    if PKG_USING_ARDUINO_SEEED_HM3301_LATEST_VERSION

endif

