
# Kconfig file for package Adafruit-AMG88xx
menuconfig PKG_USING_ARDUINO_ADAFRUIT_AMG88XX
    bool "Adafruit AMG88xx: AMG88xx 8x8 Thermocouple Sensors"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_AMG88XX

    config PKG_ARDUINO_ADAFRUIT_AMG88XX_PATH
        string
        default "/packages/arduino/sensors/Adafruit-AMG88xx"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_AMG88XX_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_AMG88XX_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_AMG88XX_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_AMG88XX_LATEST_VERSION

endif

