
# Kconfig file for package I2C_TOOLS
menuconfig PKG_USING_I2C_TOOLS
    bool "i2c-tools: a collection of i2c tools including scan/read/write"
    select RT_USING_PIN
    select RT_USING_I2C
    select RT_USING_I2C_BITOPS
    default n

if PKG_USING_I2C_TOOLS

    config PKG_I2C_TOOLS_PATH
        string
        default "/packages/peripherals/i2c_tools"

    config I2C_TOOLS_USE_SW_I2C
        bool "Use sofware I2C"
        help
            Use software i2c instead of hardware
        default n

    if I2C_TOOLS_USE_SW_I2C
        config I2C_TOOLS_SW_ACK_TIMEOUT
        int "Software I2C ACK timeout in microseconds"
        default "100"
    endif

    choice
        prompt "Version"
        default PKG_USING_I2C_TOOLS_LATEST_VERSION
        help
            Select the package version
        config PKG_USING_I2C_TOOLS_V100
            bool "v1.0.0"
        config PKG_USING_I2C_TOOLS_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_I2C_TOOLS_VER
       string
       default "v1.0.0"    if PKG_USING_I2C_TOOLS_V100
       default "latest"    if PKG_USING_I2C_TOOLS_LATEST_VERSION

endif
