menuconfig PKG_USING_TOUCH_DRIVERS
    bool "touch drivers"
    default n
    select RT_USING_TOUCH

    if PKG_USING_TOUCH_DRIVERS

        source "$PKGS_DIR/packages/peripherals/touch/gt9147/Kconfig"

    endif
