
# Kconfig file for package Seeed-SHT31
menuconfig PKG_USING_ARDUINO_SEEED_SHT31
    bool "Seeed SHT31: Temperature Humidity Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    default n

if PKG_USING_ARDUINO_SEEED_SHT31

    config PKG_ARDUINO_SEEED_SHT31_PATH
        string
        default "/packages/arduino/sensors/Seeed-SHT31"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_SEEED_SHT31_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_SEEED_SHT31_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_SEEED_SHT31_VER
       string
       default "latest"    if PKG_USING_ARDUINO_SEEED_SHT31_LATEST_VERSION

endif

