
# Kconfig file for package Adafruit-MAX1704X
menuconfig PKG_USING_ARDUINO_ADAFRUIT_MAX1704X
    bool "Adafruit MAX1704X: MAX17048/MAX17049 battery monitor driver"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_SENSOR
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_MAX1704X

    config PKG_ARDUINO_ADAFRUIT_MAX1704X_PATH
        string
        default "/packages/arduino/sensors/Adafruit-MAX1704X"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_MAX1704X_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_MAX1704X_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_MAX1704X_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_MAX1704X_LATEST_VERSION

endif

