menu "security packages"

source "$PKGS_DIR/packages/security/mbedtls/Kconfig"
source "$PKGS_DIR/packages/security/libsodium/Kconfig"

source "$PKGS_DIR/packages/security/tinycrypt/Kconfig"

source "$PKGS_DIR/packages/security/trusted-firmware-m/Kconfig"
endmenu
