
# Kconfig file for package vs1003
menuconfig PKG_USING_VS1003
    bool "vs1003 driver"
    select RT_USING_PIN
    select RT_USING_SPI
    select BSP_USING_SPI
    default n

if PKG_USING_VS1003

    config PKG_VS1003_PATH
        string
        default "/packages/peripherals/vs1003"

    config VS1003_EXAMPLE
        bool
        prompt "vs1003_example"
        default n

    choice
        prompt "Version"
        default PKG_USING_VS1003_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_VS1003_V100
            bool "v1.0.0"

        config PKG_USING_VS1003_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_VS1003_VER
       string
       default "v1.0.0"    if PKG_USING_VS1003_V100
       default "latest"    if PKG_USING_VS1003_LATEST_VERSION

endif

