
# Kconfig file for package ld3320
menuconfig PKG_USING_LD3320
    bool "ld3320 speech recognition chip"
    default n

if PKG_USING_LD3320

    config PKG_LD3320_PATH
        string
        default "/packages/peripherals/ld3320"

    choice
        prompt "Version"
        default PKG_USING_LD3320_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_LD3320_V100
            bool "v1.0.0"

        config PKG_USING_LD3320_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_LD3320_VER
       string
       default "v1.0.0"    if PKG_USING_LD3320_V100
       default "latest"    if PKG_USING_LD3320_LATEST_VERSION

    config PKG_LD3320_VERSION
       string
       default "v1.0.0"    if PKG_USING_LD3320_V100
       default "latest"    if PKG_USING_LD3320_LATEST_VERSION

    config PKG_USING_LD3320_DEMO
        bool "Use demo"
        default n

    if PKG_USING_LD3320_DEMO
        choice
            prompt "Role"
            default PKG_LD3320_DEMO_ROLE_ASR
            help
                Select the role
            config PKG_LD3320_DEMO_ROLE_ASR
                bool "ASR"
            config PKG_LD3320_DEMO_ROLE_MP3
                bool "MP3"
        select  PKG_USING_LD3320_MP3
        endchoice

        config PKG_LD3320_DEMO_SPI_DEV_NAME
            string "The spi device name for LD3320"
            default "spi10"

        config PKG_LD3320_DEMO_WR_PIN
            int "The wr pin of LD3320"
            default -1

        config PKG_LD3320_DEMO_RST_PIN
            int "The rst pin of LD3320"
            default -1

        config PKG_LD3320_DEMO_IRQ_PIN
            int "The irq pin of LD3320"
            default -1

    endif

    config PKG_USING_LD3320_DEBUG
        bool "Enable debug"
        default n

    if PKG_USING_LD3320_DEBUG
        config PKG_USING_LD3320_RECV_REPORT
            bool "Use recv report"
            default y

        config PKG_USING_LD3320_FINSH
            bool "Use shell cmd"
            default y

    endif

    config PKG_USING_LD3320_MP3
        bool "enable ld3320 mp3 mode"
        default n

endif

