
# Kconfig file for package Seeed-Si1145
menuconfig PKG_USING_ARDUINO_SEEED_SI1145
    bool "Seeed Si1145: Sunlight Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    default n

if PKG_USING_ARDUINO_SEEED_SI1145

    config PKG_ARDUINO_SEEED_SI1145_PATH
        string
        default "/packages/arduino/sensors/Seeed-Si1145"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_SEEED_SI1145_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_SEEED_SI1145_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_SEEED_SI1145_VER
       string
       default "latest"    if PKG_USING_ARDUINO_SEEED_SI1145_LATEST_VERSION

endif

