
# Kconfig file for package CMSIS_RTOS1
menuconfig PKG_USING_CMSIS_RTOS1
    bool "CMSIS-RTOS1 wrapper for RT-Thread"
    select PKG_USING_CMSIS_5
    default n

if PKG_USING_CMSIS_RTOS1

    config PKG_CMSIS_RTOS1_PATH
        string
        default "/packages/system/CMSIS/CMSIS_RTOS1"

    choice
        prompt "Version"
        default PKG_USING_CMSIS_RTOS1_V1
        help
            Select the package version

        config PKG_USING_CMSIS_RTOS1_V1
            bool "v1.x"

        config PKG_USING_CMSIS_RTOS1_V2
            bool "v2.x"
            select PKG_USING_CMSIS_RTOS2
    endchoice

    config PKG_CMSIS_RTOS1_VER
       string
       default "v1.x"    if PKG_USING_CMSIS_RTOS1_V1
       default "v2.x"    if PKG_USING_CMSIS_RTOS1_V2

endif

