menu "Projects and Demos"

rsource "MsgQ-C-CPP-demo/Kconfig"
rsource "sketch-loader-demo/Kconfig"
rsource "UltrasoundRadar/Kconfig"
rsource "NineinOne-Sensor-Shield/Kconfig"
rsource "Arduino-Sensor-Kit/Kconfig"
rsource "matlab-support-package/Kconfig"

endmenu
