menu "Projects and Demos"

source "$PKGS_DIR/packages/arduino/projects/MsgQ-C-CPP-demo/Kconfig"
source "$PKGS_DIR/packages/arduino/projects/sketch-loader-demo/Kconfig"
source "$PKGS_DIR/packages/arduino/projects/UltrasoundRadar/Kconfig"
source "$PKGS_DIR/packages/arduino/projects/RTduino-SensorFusion-Shield/Kconfig"
source "$PKGS_DIR/packages/arduino/projects/NineinOne-Sensor-Shield/Kconfig"
source "$PKGS_DIR/packages/arduino/projects/Arduino-Sensor-Kit/Kconfig"
source "$PKGS_DIR/packages/arduino/projects/matlab-support-package/Kconfig"

endmenu
