
# Kconfig file for package 2048
menuconfig PKG_USING_2048
    bool "2048: An indie puzzle video game run on RT-Thread console"
    select RT_USING_DFS         if RT_VER_NUM < 0x40100
    select RT_USING_POSIX       if RT_VER_NUM < 0x40100
    select RT_USING_LIBC        if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS    if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_POLL  if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_TERMIOS
    default n


if PKG_USING_2048

    config PKG_2048_PATH
        string
        default "/packages/misc/entertainment/c2048"

    config PKG_2048_VER
       string
       default "latest"

endif

