
# Kconfig file for package agile_led
menuconfig PKG_USING_AGILE_LED
    bool "agile_led: A agile led package."
    default n
    select RT_USING_PIN

if PKG_USING_AGILE_LED

    config PKG_AGILE_LED_PATH
        string
        default "/packages/peripherals/agile_led"

    config PKG_AGILE_LED_DEBUG
        bool "Enable debug log output"
        default n

    config PKG_AGILE_LED_USING_THREAD_AUTO_INIT
        bool "Enable agile_led auto initialize thread"
        default y

    if PKG_AGILE_LED_USING_THREAD_AUTO_INIT

        config PKG_AGILE_LED_THREAD_STACK_SIZE
            int "Set agile_led thread stack size"
            default 256

        config PKG_AGILE_LED_THREAD_PRIORITY
            int "Set agile_led thread priority"
            default 28

    endif

    config PKG_AGILE_LED_USING_EXAMPLE
        bool "Enable agile_led example"
        default n

    choice
        prompt "Version"
        default PKG_USING_AGILE_LED_V111
        help
            Select the package version

        config PKG_USING_AGILE_LED_V110
            bool "v1.1.0"

        config PKG_USING_AGILE_LED_V111
            bool "v1.1.1"

        config PKG_USING_AGILE_LED_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_AGILE_LED_VER
       string
       default "v1.1.0"    if PKG_USING_AGILE_LED_V110
       default "v1.1.1"    if PKG_USING_AGILE_LED_V111
       default "latest"    if PKG_USING_AGILE_LED_LATEST_VERSION

    config PKG_AGILE_LED_VER_NUM
        hex
        default 0x10100    if PKG_USING_AGILE_LED_V110
        default 0x10101    if PKG_USING_AGILE_LED_V111
        default 0x99999    if PKG_USING_AGILE_LED_LATEST_VERSION

endif

