# Kconfig file for package CherryECAT
menuconfig PKG_USING_CHERRYECAT
    bool "CherryECAT: a tiny and beautiful, high real-time and low-jitter EtherCAT master stack, specially designed for MCUs running with RTOS"
    default n

if PKG_USING_CHERRYECAT

        choice
            prompt "select net device driver"
            default PKG_CHERRYECAT_NETDEV_CUSTOM
            config PKG_CHERRYECAT_NETDEV_CUSTOM
                bool "CUSTOM (Implement it yourself)"
            config PKG_CHERRYECAT_NETDEV_HPMICRO
                bool "hpmicro"
            config PKG_CHERRYECAT_NETDEV_RENESAS
                bool "renesas"
            config PKG_CHERRYECAT_NETDEV_STM32H7
                bool "stm32h7, hal >=1.11.0"
        endchoice

    if PKG_CHERRYECAT_NETDEV_HPMICRO
        choice
            prompt "hpmicro eth driver type"
            default PKG_CHERRYECAT_HPMICRO_RGMII
            config PKG_CHERRYECAT_HPMICRO_RGMII
                bool "RGMII"
            config PKG_CHERRYECAT_HPMICRO_RMII
                bool "RMII"
        endchoice

    endif

    if PKG_CHERRYECAT_NETDEV_STM32H7
        config CONFIG_EC_PHY_RESET_PORT
            int "stm32 eth phy reset port, from 0 to x, 0 means GPIOA"
            default 0
        config CONFIG_EC_PHY_RESET_PIN
            int "stm32 eth phy reset pin, from 0 to 15"
            default 8
    endif

    config PKG_CHERRYECAT_PATH
        string
        default "/packages/system/CherryECAT"

    choice
        prompt "Version"
        default PKG_USING_CHERRYECAT_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_CHERRYECAT_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_CHERRYECAT_VER
       string
       default "latest"    if PKG_USING_CHERRYECAT_LATEST_VERSION
endif
