
# Kconfig file for package FreeRTOS_Wrapper
menuconfig PKG_USING_FREERTOS_WRAPPER
    bool "FreeRTOS Application Compatibility Layer for RT-Thread"
    default n

if PKG_USING_FREERTOS_WRAPPER

    config PKG_FREERTOS_WRAPPER_PATH
        string
        default "/packages/system/FreeRTOS_Wrapper"

    choice
        prompt "Version"
        default PKG_USING_FREERTOS_WRAPPER_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_FREERTOS_WRAPPER_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_FREERTOS_WRAPPER_VER
       string
       default "latest"    if PKG_USING_FREERTOS_WRAPPER_LATEST_VERSION

endif

