
# Kconfig file for package lora_radio_driver
menuconfig PKG_USING_LORA_RADIO_DRIVER
    bool "lora_radio_driver: lora chipset(SX126x\\SX127x) driver."
    default n

if PKG_USING_LORA_RADIO_DRIVER

    config PKG_LORA_RADIO_DRIVER_PATH
        string
        default "/packages/peripherals/lora_radio_driver"

    config USING_LORA_RADIO_DRIVER_RTOS_SUPPORT
        bool
        default y


    config LORA_RADIO0_DEVICE_NAME
        string "LoRa Radio Device Name"
        default lora-radio0


    config USING_LORA_CHIP
        bool "Select LoRa Chip \\ LoRa Module"
        default y

    if USING_LORA_CHIP
                             
        config USING_LORA_CHIP_SX126X
            bool "LoRa Transceiver [SX126X]"
            default n
            if USING_LORA_CHIP_SX126X
                menu "Supported LoRa Module"
                    menuconfig USING_LORA_MODULE_LSD4RF_2R717N40
                        bool "LSD4RF-2R717N40(SX1268)"
                        default n

                        if USING_LORA_MODULE_LSD4RF_2R717N40

                            comment "LoRa Chip SX1268 (SPI module)"
                            config USING_LORA_RADIO_SX1268
                                bool
                                default y

                             select RT_USING_SPI
                             menu "Select LoRa Radio SPI device"
                                 
                                 config BSP_USING_SPI1
                                    bool "Enable SPI1"
                                    default n
                                    if BSP_USING_SPI1
                                      config LORA_RADIO0_SPI_BUS_NAME
                                      string "spi device name"
                                      default spi1
                                     endif
                                 
                                config BSP_USING_SPI2
                                    bool "Enable SPI2"
                                    default n
                                    if BSP_USING_SPI2
                                      config LORA_RADIO0_SPI_BUS_NAME
                                      string "spi device name"
                                      default spi2
                                    endif

                                config BSP_USING_SPI3
                                    bool "Enable SPI3"
                                    default n
                                    if BSP_USING_SPI3
                                          config LORA_RADIO0_SPI_BUS_NAME
                                          string "spi device name"
                                          default spi3
                                        endif
                            endmenu

                            config LORA_RADIO_USE_TCXO
                                bool "Enable TCXO"
                                default y

                            config LORA_RADIO_GPIO_SETUP
                                bool "Enable LoRa Radio GPIO Setup"
                                default n
                                
                                if LORA_RADIO_GPIO_SETUP
                                    menuconfig LORA_RADIO_GPIO_SETUP_BY_PIN_NAME
                                        bool "Select LoRa Chip GPIO by Pin Name"
                                        default y

                                        if LORA_RADIO_GPIO_SETUP_BY_PIN_NAME
                                            config LORA_RADIO_NSS_PIN_NAME
                                                string "NSS Pin Name"
                                                default "A15"
                                            config LORA_RADIO_RESET_PIN_NAME
                                                string "RESET Pin Name"
                                                default "A7"
                                            config LORA_RADIO_DIO1_PIN_NAME
                                                string "DIO1 Pin Name"
                                                default "B1"
                                            config LORA_RADIO_RFSW1_PIN_NAME
                                                string "RFSW1 Pin Name"
                                                default "B0"
                                            config LORA_RADIO_RFSW2_PIN_NAME
                                                string "RFSW2 Pin Name"
                                                default "C5"
                                            config LORA_RADIO_BUSY_PIN_NAME
                                                string "BUSY Pin Name"
                                                default "B2"
                                        endif

                                    menuconfig LORA_RADIO_GPIO_SETUP_BY_PIN_NUMBER
                                        bool "Select LoRa Chip GPIO by Pin Number"
                                        default n

                                        if LORA_RADIO_GPIO_SETUP_BY_PIN_NUMBER
                                            config LORA_RADIO_NSS_PIN
                                                int "NSS pin number"
                                                range 0 175
                                                default 15
                                            config LORA_RADIO_RESET_PIN
                                                int "RESET pin number"
                                                range 0 175
                                                default 7
                                            config LORA_RADIO_DIO1_PIN
                                                int "DIO1 pin number"
                                                range 0 175
                                                default 17
                                             config LORA_RADIO_DIO2_PIN
                                                int "DIO2 pin number"
                                                range 0 175
                                                default 36
                                             config LORA_RADIO_RFSW1_PIN
                                                int "RFSW1 pin number"
                                                range 0 175
                                                default 16
                                             config LORA_RADIO_RFSW2_PIN
                                                int "RFSW2 pin number"
                                                range 0 175
                                                default 37    
                                             config LORA_RADIO_BUSY_PIN
                                                int "BUSY pin number"
                                                range 0 175
                                                default 18
                                        endif
                                    endif
                            endif
                    endmenu
                endif

                config USING_LORA_CHIP_SX127X
                    bool "LoRa Transceiver [SX127X]"
                    default n
                    if USING_LORA_CHIP_SX127X
                        menu "Supported LoRa Module"

                            menuconfig USING_LORA_MODULE_LSD4RF_2F717N20
                                bool "LSD4RF-2F717N20(SX1278)"
                                default y

                                if USING_LORA_MODULE_LSD4RF_2F717N20

                                    comment "LoRa Chip SX1278 (SPI module)"
                                    config USING_LORA_RADIO_SX1278
                                        bool
                                        default y

                                    menu "Select LoRa Radio SPI device"
                                         config BSP_USING_SPI1
                                            bool "Enable SPI1"
                                            default n
                                            if BSP_USING_SPI1
                                                config LORA_RADIO0_SPI_BUS_NAME
                                                    string "spi device name"
                                                    default spi1
                                            endif

                                         config BSP_USING_SPI2
                                            bool "Enable SPI2"
                                            default n
                                            if BSP_USING_SPI2
                                                config LORA_RADIO0_SPI_BUS_NAME
                                                    string "spi device name"
                                                    default spi2
                                            endif

                                        config BSP_USING_SPI3
                                            bool "Enable SPI3"
                                            default n
                                            if BSP_USING_SPI3
                                                config LORA_RADIO0_SPI_BUS_NAME
                                                    string "spi device name"
                                                    default spi3
                                            endif
                                    endmenu

                                     config LORA_RADIO_GPIO_SETUP
                                        bool "Enable LoRa Radio GPIO Setup"
                                        default n

                                        if LORA_RADIO_GPIO_SETUP
                                            menuconfig LORA_RADIO_GPIO_SETUP_BY_PIN_NAME
                                                bool "Select LoRa Chip GPIO by Pin Name"
                                                default y

                                                if LORA_RADIO_GPIO_SETUP_BY_PIN_NAME
                                                    config LORA_RADIO_NSS_PIN_NAME
                                                        string "NSS Pin Name"
                                                        default "A15"
                                                    config LORA_RADIO_RESET_PIN_NAME
                                                        string "RESET Pin Name"
                                                        default "A7"
                                                    config LORA_RADIO_DIO0_PIN_NAME
                                                        string "DIO0 Pin Name"
                                                        default "B1"
                                                    config LORA_RADIO_DIO1_PIN_NAME
                                                        string "DIO1 Pin Name"
                                                        default "C4"
                                                    config LORA_RADIO_DIO2_PIN_NAME
                                                        string "DIO2 Pin Name"
                                                        default "B2"
                                                    config LORA_RADIO_RFSW1_PIN_NAME
                                                        string "RFSW1 Pin Name"
                                                        default "B0"
                                                    config LORA_RADIO_RFSW2_PIN_NAME
                                                        string "RFSW2 Pin Name"
                                                        default "C5"
                                                endif

                                            menuconfig LORA_RADIO_GPIO_SETUP_BY_PIN_NUMBER
                                                bool "Select LoRa Chip GPIO by Pin Number"
                                                default n

                                                if LORA_RADIO_GPIO_SETUP_BY_PIN_NUMBER
                                                   config LORA_RADIO_NSS_PIN
                                                        int "NSS pin number"
                                                        range 0 175
                                                        default 15
                                                    config LORA_RADIO_RESET_PIN
                                                        int "RESET pin number"
                                                        range 0 175
                                                        default 7
                                                    config LORA_RADIO_DIO0_PIN
                                                        int "DIO0 pin number"
                                                        range 0 175
                                                        default 17    
                                                    config LORA_RADIO_DIO1_PIN
                                                        int "DIO1 pin number"
                                                        range 0 175
                                                        default 36
                                                     config LORA_RADIO_DIO2_PIN
                                                        int "DIO2 pin number"
                                                        range 0 175
                                                        default 18
                                                     config LORA_RADIO_RFSW1_PIN
                                                        int "RFSW1 pin number"
                                                        range 0 175
                                                        default 16
                                                     config LORA_RADIO_RFSW2_PIN
                                                        int "RFSW2 pin number"
                                                        range 0 175
                                                        default 37   
                                                endif
                                        endif
                                endif

                            menuconfig USING_LORA_MODULE_RA_01
                                bool "Ra-01(SX1278)"
                                default n

                                if USING_LORA_MODULE_RA_01

                                    comment "LoRa Chip SX1278 (SPI module)"
                                    config USING_LORA_RADIO_SX1278
                                        bool
                                        default y
                                        select RT_USING_SPI

                                    menu "Select LoRa Radio SPI device"
                                         config BSP_USING_SPI1
                                            bool "Enable SPI1"
                                            default y
                                            if BSP_USING_SPI1
                                                config LORA_RADIO0_SPI_BUS_NAME
                                                    string "spi device name"
                                                    default spi1
                                            endif

                                         config BSP_USING_SPI2
                                            bool "Enable SPI2"
                                            default n
                                            if BSP_USING_SPI2
                                                config LORA_RADIO0_SPI_BUS_NAME
                                                    string "spi device name"
                                                    default spi2
                                            endif

                                        config BSP_USING_SPI3
                                            bool "Enable SPI3"
                                            default n
                                            if BSP_USING_SPI3
                                                config LORA_RADIO0_SPI_BUS_NAME
                                                    string "spi device name"
                                                    default spi3
                                            endif
                                    endmenu

                                     config LORA_RADIO_GPIO_SETUP
                                        bool "Enable LoRa Radio GPIO Setup"
                                        default n

                                        if LORA_RADIO_GPIO_SETUP
                                            menuconfig LORA_RADIO_GPIO_SETUP_BY_PIN_NAME
                                                bool "Select LoRa Chip GPIO by Pin Name"
                                                default y

                                                if LORA_RADIO_GPIO_SETUP_BY_PIN_NAME
                                                    config LORA_RADIO_NSS_PIN_NAME
                                                        string "NSS Pin Name"
                                                        default "B6"
                                                    config LORA_RADIO_RESET_PIN_NAME
                                                        string "RESET Pin Name"
                                                        default "C7"
                                                    config LORA_RADIO_DIO0_PIN_NAME
                                                        string "DIO0 Pin Name"
                                                        default "A9"
                                                    config LORA_RADIO_DIO1_PIN_NAME
                                                        string "DIO1 Pin Name"
                                                        default "A8"
                                                endif

                                            menuconfig LORA_RADIO_GPIO_SETUP_BY_PIN_NUMBER
                                                bool "Select LoRa Chip GPIO by Pin Number"
                                                default n

                                                if LORA_RADIO_GPIO_SETUP_BY_PIN_NUMBER
                                                   config LORA_RADIO_NSS_PIN
                                                        int "NSS pin number"
                                                        range 0 127
                                                        default 22
                                                    config LORA_RADIO_RESET_PIN
                                                        int "RESET pin number"
                                                        range 0 127
                                                        default 39
                                                    config LORA_RADIO_DIO0_PIN
                                                        int "DIO0 pin number"
                                                        range 0 127
                                                        default 9 
                                                    config LORA_RADIO_DIO1_PIN
                                                        int "DIO1 pin number"
                                                        range 0 127
                                                        default 8  
                                                endif
                                        endif
                                endif
                            endmenu
                        endif
            endif

    menu "Select LoRa Radio Driver Example"

        config PKG_USING_LORA_RADIO_TEST
            bool "Enable LoRa Radio Test"
            default n

            if PKG_USING_LORA_RADIO_TEST
                choice
                    prompt "Select the RF frequency"
                    default REGION_CN470
                    help
                        Select the RF frequency

                    config REGION_CN470
                        bool "Region CN470"

                    config REGION_EU868
                        bool "Region EU868"

                    config REGION_KR920
                        bool "Region KR920"
                endchoice

                choice
                    prompt "Select RF Modem"
                    default USE_MODEM_LORA
                    help
                        Select the RF Modem

                    config USE_MODEM_LORA
                        bool "Modem LoRa"

                    config USE_MODEM_FSK
                        bool "Modem FSK"
                endchoice
            endif
    endmenu
 

            
    choice
        prompt "Version"
        default PKG_USING_LORA_RADIO_DRIVER_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_LORA_RADIO_DRIVER_V100
            bool "v1.0.0"

        config PKG_USING_LORA_RADIO_DRIVER_LATEST_VERSION
            bool "latest"
    endchoice
          
    config PKG_LORA_RADIO_DRIVER_VER
       string
       default "v1.0.0"    if PKG_USING_LORA_RADIO_DRIVER_V100
       default "latest"    if PKG_USING_LORA_RADIO_DRIVER_LATEST_VERSION


endif

