
# Kconfig file for package U8glib_Arduino
menuconfig PKG_USING_ARDUINO_U8GLIB_ARDUINO
    bool "U8glib: A graphics library with support for many different monochrome displays."
    default n

if PKG_USING_ARDUINO_U8GLIB_ARDUINO

    config PKG_ARDUINO_U8GLIB_ARDUINO_PATH
        string
        default "/packages/arduino/display/U8glib_Arduino"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_ARDUINO_U8GLIB_ARDUINO_V1191
            bool "v1.19.1"

    endchoice

    config PKG_ARDUINO_U8GLIB_ARDUINO_VER
       string
       default "v1.19.1"    if PKG_USING_ARDUINO_U8GLIB_ARDUINO_V1191

endif

