
if BOARD_X1000_REALBOARD
    config PKG_USING_PERSIMMON
        bool "Persimmon GUI component"
        select RT_USING_GUIENGINE
        default n
        help
            A GUI component running on RT-Thread real time operating system
endif

if PKG_USING_PERSIMMON

    config PKG_PERSIMMON_PATH
        string
        default "/packages/system/persimmon"

    config PKG_PERSIMMON_VER
        string
        default "v1.0.0"

endif
