config EZIOT_UNIT_TEST_ENABLE
    bool "Enable Unit Test"
    default n
    select EZIOT_COMPONENT_UTEST_ENABLE

config EZIOT_UNIT_TEST_REPORT_LOGLVL
    int "The log level of the unit test report"
    range 1 2
    default 2
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_SDK_LOGLVL
    int "The log level for debugging"
    range -1 5
    default -1
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_CASE_TIEMOUT_SECONDS
    int "The default timeout of the interface test"
    default 10
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_CLOUD_HOST
    string "Ezviz cloud server address"
    default "devcn.eziot.com"
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_CLOUD_PORT
    int "Ezviz cloud server port"
    default 8666
    depends on EZIOT_UNIT_TEST_ENABLE

choice EZIOT_UNIT_TEST_DEV_AUTH_MODE
    prompt "Device access authentication mode"
    default EZIOT_UNIT_TEST_DEV_AUTH_MODE_LICENCE
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_DEV_AUTH_MODE_SAP
    bool "SAP(Production line)"
config EZIOT_UNIT_TEST_DEV_AUTH_MODE_LICENCE
    bool "Licence"
endchoice

config EZIOT_UNIT_TEST_DEV_TYPE
    string "Device model"
    default "4LYV8SK7UKLBOUOVS6HXVX"
    depends on EZIOT_UNIT_TEST_ENABLE && EZIOT_UNIT_TEST_DEV_AUTH_MODE_SAP

config EZIOT_UNIT_TEST_DEV_SERIAL_NUMBER
    string "Device serial number"
    default "Z88889999"
    depends on EZIOT_UNIT_TEST_ENABLE && EZIOT_UNIT_TEST_DEV_AUTH_MODE_SAP

config EZIOT_UNIT_TEST_DEV_VERIFICATION_CODE
    string "Device verification code"
    default "QWERTY"
    depends on EZIOT_UNIT_TEST_ENABLE && EZIOT_UNIT_TEST_DEV_AUTH_MODE_SAP

config EZIOT_UNIT_TEST_DEV_PRODUCT_KEY
    string "Product key"
    default "4LYV8SK7UKLBOUOVS6HXVX"
    depends on EZIOT_UNIT_TEST_ENABLE && EZIOT_UNIT_TEST_DEV_AUTH_MODE_LICENCE

config EZIOT_UNIT_TEST_DEV_NAME
    string "Device name"
    default "A532NO6K0Q2O"
    depends on EZIOT_UNIT_TEST_ENABLE && EZIOT_UNIT_TEST_DEV_AUTH_MODE_LICENCE

config EZIOT_UNIT_TEST_DEV_LICENSE
    string "Licence"
    default "J7Fv5gCsTczVe38aNLe4ev"
    depends on EZIOT_UNIT_TEST_ENABLE && EZIOT_UNIT_TEST_DEV_AUTH_MODE_LICENCE

config EZIOT_UNIT_TEST_DEV_DISPLAY_NAME
    string ""
    default "IOT_UTEST_DEV"
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_DEV_FIRMWARE_VERSION
    string ""
    default "V1.2.0 build 201212"
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_WIFI_SSID
    string "config Wifi ssid (for wifi module)"
    default "Lee"
    depends on EZIOT_UNIT_TEST_ENABLE

config EZIOT_UNIT_TEST_WIFI_PASSWORD
    string "config Wifi password (for wifi module)"
    default "12345678"
    depends on EZIOT_UNIT_TEST_ENABLE
