
# Kconfig file for package bc28_mqtt
menuconfig PKG_USING_BC28_MQTT
    bool "BC28 MQTT: connect to Aliyun with Quectel BC28 model"
    default n
    select RT_USING_AT
    select AT_USING_CLIENT

if PKG_USING_BC28_MQTT

    config PKG_BC28_MQTT_PATH
        string
        default "/packages/iot/bc28_mqtt"

    config PKG_USING_BC28_AT_CLIENT_DEV_NAME
        string "AT client device name"
        default "uart3"

    choice
        prompt "Select baud rate"
        default PKG_USING_BC28_MQTT_BAUD_RATE_9600

        config PKG_USING_BC28_MQTT_BAUD_RATE_4800
            bool "4800"

        config PKG_USING_BC28_MQTT_BAUD_RATE_9600
            bool "9600"

        config PKG_USING_BC28_MQTT_BAUD_RATE_115200
            bool "115200"
    endchoice

    config PKG_USING_BC28_MQTT_BAUD_RATE
       int
       default 4800      if PKG_USING_BC28_MQTT_BAUD_RATE_4800
       default 9600      if PKG_USING_BC28_MQTT_BAUD_RATE_9600
       default 115200    if PKG_USING_BC28_MQTT_BAUD_RATE_115200

    choice
        prompt "Select operating band"
        default PKG_USING_BC28_MQTT_OP_BAND_8

        config PKG_USING_BC28_MQTT_OP_BAND_1
            bool "B1 @H-FDD: 2100MHz"

        config PKG_USING_BC28_MQTT_OP_BAND_3
            bool "B3 @H-FDD: 1800MHz"

        config PKG_USING_BC28_MQTT_OP_BAND_5
            bool "B5 @H-FDD: 850MHz"

        config PKG_USING_BC28_MQTT_OP_BAND_8
            bool "B8 @H-FDD: 900MHz"

        config PKG_USING_BC28_MQTT_OP_BAND_20
            bool "B20 @H-FDD: 800MHz"

        config PKG_USING_BC28_MQTT_OP_BAND_28
            bool "B28 @H-FDD: 700MHz"
    endchoice

    config PKG_USING_BC28_MQTT_OP_BAND
       int
       default 1     if PKG_USING_BC28_MQTT_OP_BAND_1
       default 3     if PKG_USING_BC28_MQTT_OP_BAND_3
       default 5     if PKG_USING_BC28_MQTT_OP_BAND_5
       default 8     if PKG_USING_BC28_MQTT_OP_BAND_8
       default 20    if PKG_USING_BC28_MQTT_OP_BAND_20
       default 28    if PKG_USING_BC28_MQTT_OP_BAND_28

    config PKG_USING_BC28_RESET_PIN
        int "Reset pin"
        default 5

    config PKG_USING_BC28_ADC0_PIN
        int "ADC pin"
        default -1

    config PKG_USING_BC28_MQTT_PRODUCT_KEY
        string "Product Key"
        default ""

    config PKG_USING_BC28_MQTT_DEVICE_NAME
        string "Device Name"
        default ""

    config PKG_USING_BC28_MQTT_DEVICE_SECRET
        string "Device Secret"
        default ""

    config PKG_USING_BC28_MQTT_KEEP_ALIVE
        int "Keep-alive time in seconds"
        range 0 3600
        default 300

    config PKG_USING_BC28_MQTT_DEBUG
        bool "Enable debug log output"
        default n

    config PKG_USING_BC28_MQTT_SAMPLE
        bool "Enable bc28_mqtt sample"
        default n
        select PKG_USING_CJSON

    choice
        prompt "Version"
        default PKG_USING_BC28_MQTT_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_BC28_MQTT_V110
            bool "v1.1.0"

        config PKG_USING_BC28_MQTT_V100
            bool "v1.0.0"

        config PKG_USING_BC28_MQTT_V001
            bool "v0.0.1"

        config PKG_USING_BC28_MQTT_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_BC28_MQTT_VER
       string
       default "v1.1.0"    if PKG_USING_BC28_MQTT_V110
       default "v1.0.0"    if PKG_USING_BC28_MQTT_V100
       default "v0.0.1"    if PKG_USING_BC28_MQTT_V001
       default "latest"    if PKG_USING_BC28_MQTT_LATEST_VERSION

endif

