
# Kconfig file for package snake
menuconfig PKG_USING_SNAKE
    bool "snake: a remake of the old nokia game"
    select RT_USING_POSIX_FS if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_TERMIOS
    default n

if PKG_USING_SNAKE

    config PKG_SNAKE_PATH
        string
        default "/packages/misc/entertainment/snake"

    config PKG_SNAKE_VER
       string
       default "latest"

endif

