
# Kconfig file for package termbox
menuconfig PKG_USING_TERMBOX
    bool "termbox: library for writing text-based user interfaces"
    select RT_USING_DFS if RT_VER_NUM < 0x40100
    select RT_USING_POSIX if RT_VER_NUM < 0x40100
    select RT_USING_LIBC if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_POLL if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_TERMIOS
    select PKG_USING_POSIX_WCWIDTH
    default n

if PKG_USING_TERMBOX

    config PKG_TERMBOX_PATH
        string
        default "/packages/multimedia/termbox"

    config TERMBOX_USING_DEMOS
        bool "Enable demos"
        default n

    config TERMBOX_USING_CPP_DEMOS
        bool "Enable cpp demos"
        depends on TERMBOX_USING_DEMOS
        select RT_USING_CPLUSPLUS
        default n

    choice
        prompt "Version"
        default PKG_USING_TERMBOX_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_TERMBOX_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_TERMBOX_VER
       string
       default "latest"    if PKG_USING_TERMBOX_LATEST_VERSION

endif

