
# Kconfig file for package anv_memleak
menuconfig PKG_USING_ANV_MEMLEAK
    select RT_USING_LIBC        if RT_VER_NUM < 0x40100
    select RT_USING_POSIX       if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS    if RT_VER_NUM >= 0x40100
    bool "anv_memleak: check if there are memleaks"
    default n

if PKG_USING_ANV_MEMLEAK

    config PKG_ANV_MEMLEAK_PATH
        string
        default "/packages/tools/anv_memleak"

    config ANV_MEMLEAK_USING_EXAMPLE
        bool "anv_memleak: usage example"
        help
            anv_memleak: usage example.
        default n

    choice
        prompt "Version"
        default PKG_USING_ANV_MEMLEAK_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ANV_MEMLEAK_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ANV_MEMLEAK_VER
       string
       default "latest"    if PKG_USING_ANV_MEMLEAK_LATEST_VERSION

endif

