
menuconfig PKG_USING_MULTIBUTTON
    bool "MultiButton: A compact and easy to use event-driven button driver"
    default n

if PKG_USING_MULTIBUTTON
    config PKG_MULTIBUTTON_PATH
        string
        default "/packages/misc/MultiButton"

    config MULTIBUTTON_USING_EXAMPLE_ASYNC
        bool
        prompt "MultiButton async example"
        default n

    config MULTIBUTTON_USING_EXAMPLE_INQUIRE
        bool
        prompt "MultiButton inquire example"
        default n

    choice
        prompt "Version"
        help
            Select the this package version

        config PKG_USING_MULTIBUTTON_V121
            bool "v1.2.1"

        config PKG_USING_MULTIBUTTON_V120
            bool "v1.2.0"

        config PKG_USING_MULTIBUTTON_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_MULTIBUTTON_VER
        string
        default "v1.2.1" if PKG_USING_MULTIBUTTON_V121
        default "v1.2.0" if PKG_USING_MULTIBUTTON_V120
        default "latest" if PKG_USING_MULTIBUTTON_LATEST_VERSION

endif
