
# Kconfig file for package CMSIS-Core
menuconfig PKG_USING_CMSIS_CORE
    bool "CMSIS-Core: Standardized API for the Cortex-A/M processor"
    default n

if PKG_USING_CMSIS_CORE

    config PKG_CMSIS_CORE_PATH
        string
        default "/packages/system/CMSIS/CMSIS-Core"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_CMSIS_CORE_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_CMSIS_CORE_VER
       string
       default "latest"    if PKG_USING_CMSIS_CORE_LATEST_VERSION

endif

