# Kconfig file for package PLL
menuconfig PKG_USING_PLL
    bool "SOGI-based PLL and FLL library"
    default n
    help
        PLL package is an implementation of SOGI based PLL and FLL.

if PKG_USING_PLL

    config PKG_PLL_PATH
        string
        default "/packages/misc/PLL"

    choice
        prompt "Version"
        default PKG_USING_PLL_LATEST_VERSION
        help
            Select the PLL version

        config PKG_USING_PLL_LATEST_VERSION
            bool "latest"

        config PKG_USING_PLL_V1_0_0
            bool "v1.0.0"
    endchoice

    config PKG_PLL_VER
        string
        default "latest" if PKG_USING_PLL_LATEST_VERSION
        default "v1.0.0" if PKG_USING_PLL_V1_0_0
endif
