menu "peripheral libraries and drivers"

# source "$PKGS_DIR/packages/peripherals//Kconfig"

source "$PKGS_DIR/packages/peripherals/sensors/Kconfig"
source "$PKGS_DIR/packages/peripherals/realtek_ameba/Kconfig"
source "$PKGS_DIR/packages/peripherals/sht2x/Kconfig"
source "$PKGS_DIR/packages/peripherals/sht3x/Kconfig"
source "$PKGS_DIR/packages/peripherals/as7341/Kconfig"
source "$PKGS_DIR/packages/peripherals/stm32_sdio/Kconfig"
source "$PKGS_DIR/packages/peripherals/icm20608/Kconfig"
source "$PKGS_DIR/packages/peripherals/u8g2/Kconfig"
source "$PKGS_DIR/packages/peripherals/button/Kconfig"
source "$PKGS_DIR/packages/peripherals/pcf8574/Kconfig"
source "$PKGS_DIR/packages/peripherals/sx12xx/Kconfig"
source "$PKGS_DIR/packages/peripherals/SignalLed/Kconfig"
source "$PKGS_DIR/packages/peripherals/LedBlink/Kconfig"
source "$PKGS_DIR/packages/peripherals/littled/Kconfig"
source "$PKGS_DIR/packages/peripherals/lkdGui/Kconfig"
source "$PKGS_DIR/packages/peripherals/nrf5x_sdk/Kconfig"
source "$PKGS_DIR/packages/peripherals/nrfx/Kconfig"
source "$PKGS_DIR/packages/peripherals/wm_libraries/Kconfig"
source "$PKGS_DIR/packages/peripherals/kendryte-sdk/Kconfig"
source "$PKGS_DIR/packages/peripherals/infrared/Kconfig"
source "$PKGS_DIR/packages/peripherals/agile_button/Kconfig"
source "$PKGS_DIR/packages/peripherals/agile_led/Kconfig"
source "$PKGS_DIR/packages/peripherals/at24cxx/Kconfig"
source "$PKGS_DIR/packages/peripherals/MotionDriver2RTT/Kconfig"
source "$PKGS_DIR/packages/peripherals/ad7746/Kconfig"
source "$PKGS_DIR/packages/peripherals/pca9685/Kconfig"
source "$PKGS_DIR/packages/peripherals/i2c-tools/Kconfig"
source "$PKGS_DIR/packages/peripherals/nrf24l01/Kconfig"
source "$PKGS_DIR/packages/peripherals/touch/Kconfig"
source "$PKGS_DIR/packages/peripherals/max17048/Kconfig"
source "$PKGS_DIR/packages/peripherals/rplidar/Kconfig"
source "$PKGS_DIR/packages/peripherals/as608/Kconfig"
source "$PKGS_DIR/packages/peripherals/rc522/Kconfig"
source "$PKGS_DIR/packages/peripherals/ws2812b/Kconfig"
source "$PKGS_DIR/packages/peripherals/embARC_bsp/Kconfig"
source "$PKGS_DIR/packages/peripherals/rtc/Kconfig"
source "$PKGS_DIR/packages/peripherals/multi_rtimer/Kconfig"
source "$PKGS_DIR/packages/peripherals/max7219/Kconfig"
source "$PKGS_DIR/packages/peripherals/beep/Kconfig"
source "$PKGS_DIR/packages/peripherals/easyblink/Kconfig"
source "$PKGS_DIR/packages/peripherals/pms_series/Kconfig"
source "$PKGS_DIR/packages/peripherals/nuclei_sdk/Kconfig"
source "$PKGS_DIR/packages/peripherals/can_ymodem/Kconfig"
source "$PKGS_DIR/packages/peripherals/lora_radio_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/quick_led/Kconfig"
source "$PKGS_DIR/packages/peripherals/PAJ7620/Kconfig"
source "$PKGS_DIR/packages/peripherals/agile_console/Kconfig"
source "$PKGS_DIR/packages/peripherals/ld3320/Kconfig"
source "$PKGS_DIR/packages/peripherals/wk2124/Kconfig"
source "$PKGS_DIR/packages/peripherals/ly68l6400/Kconfig"
source "$PKGS_DIR/packages/peripherals/dm9051/Kconfig"
source "$PKGS_DIR/packages/peripherals/ssd1306/Kconfig"
source "$PKGS_DIR/packages/peripherals/qkey/Kconfig"
source "$PKGS_DIR/packages/peripherals/rs485/Kconfig"
source "$PKGS_DIR/packages/peripherals/nes/Kconfig"
source "$PKGS_DIR/packages/peripherals/vsensor/Kconfig"
source "$PKGS_DIR/packages/peripherals/vdevice/Kconfig"
source "$PKGS_DIR/packages/peripherals/sgm706/Kconfig"
source "$PKGS_DIR/packages/peripherals/stm32wb55_sdk/Kconfig"
source "$PKGS_DIR/packages/peripherals/rda58xx/Kconfig"
source "$PKGS_DIR/packages/peripherals/libnfc/Kconfig"
source "$PKGS_DIR/packages/peripherals/mfoc/Kconfig"
source "$PKGS_DIR/packages/peripherals/tmc51xx/Kconfig"
source "$PKGS_DIR/packages/peripherals/tca9534/Kconfig"
source "$PKGS_DIR/packages/peripherals/kobuki/Kconfig"
source "$PKGS_DIR/packages/peripherals/rosserial/Kconfig"
source "$PKGS_DIR/packages/peripherals/micro_ros/Kconfig"
endmenu
