menu "peripheral libraries and drivers"

# source "$PKGS_DIR/packages/peripherals//Kconfig"

source "$PKGS_DIR/packages/peripherals/STM32F4_HAL/Kconfig"
source "$PKGS_DIR/packages/peripherals/STM32F4_Drivers/Kconfig"
source "$PKGS_DIR/packages/peripherals/realtek_ameba/Kconfig"
source "$PKGS_DIR/packages/peripherals/sht2x/Kconfig"
source "$PKGS_DIR/packages/peripherals/aht10/Kconfig"
source "$PKGS_DIR/packages/peripherals/ap3216c/Kconfig"
source "$PKGS_DIR/packages/peripherals/stm32_sdio/Kconfig"
source "$PKGS_DIR/packages/peripherals/icm20608/Kconfig"

endmenu
