menu "Wiced WiFi"

config PKG_USING_WLANWICED
    bool "Wiced WiFi driver for rt-thread"
    default n

if PKG_USING_WLANWICED

    config PKG_WICEDWIFI_PATH
        string
        default "/packages/iot/WiFi/wlanwiced"

    config PKG_WICEDWIFI_VER
        string
        default "v1.0.0"
endif

endmenu
