# Kconfig file for package LVGL
menuconfig PKG_USING_LVGL
    bool "LVGL (official): powerful and easy-to-use embedded GUI library"
    default n

if PKG_USING_LVGL

    config PKG_LVGL_PATH
        string
        default "/packages/multimedia/LVGL/LVGL"

    config PKG_LVGL_THREAD_PRIO
        int "Priority of LVGL thread"
        default 20

    config PKG_LVGL_THREAD_STACK_SIZE
        int "Stack size of LVGL thread"
        default 4096

    config PKG_LVGL_DISP_REFR_PERIOD
        int "Display refresh period (ms)"
        default 5 # official suggestion

    config PKG_LVGL_USING_EXAMPLES
        bool "Enable built-in examples"
        default n

    config PKG_LVGL_USING_DEMOS
        bool "Enable built-in demos"
        default n

    choice
        prompt "Version"
        default PKG_LVGL_USING_V08030 if RT_VER_NUM >= 0x40101
        # NXP GUIGuider is designed for LVGL8.2.0 with RT-Thread latest version at this moment
        # Thus, it needs to give a privilege to NXP GUIGuider to let it use LVGL8.2.0 even if RT-Thread vesion is higher than 4.1.0
        default PKG_LVGL_USING_V08020 if (RT_VER_NUM = 0x40100) || ((RT_VER_NUM > 0x40100) && BSP_USING_NXP_GUIGUIDER)
        default PKG_LVGL_USING_LATEST_VERSION
        help
            Select the LVGL package version
            If RT-Thread vesion is higher than 4.1.0, we recommended to use LVGL v8.3.0 or latest.
            If you use some special boards or tools, such as NXP GUIGuider. Maybe needs to choose LVGL v8.2.0.

        config PKG_LVGL_USING_V08020
            bool "v8.2.0"

        config PKG_LVGL_USING_V08030
            bool "v8.3.0"

        config PKG_LVGL_USING_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_LVGL_VER_NUM
        hex
        default 0x08030    if PKG_LVGL_USING_V08030
        default 0x08020    if PKG_LVGL_USING_V08020
        default 0x99999    if PKG_LVGL_USING_LATEST_VERSION

    config PKG_LVGL_VER
       string
       default "v8.3.0"    if PKG_LVGL_VER_NUM = 0x08030
       default "v8.2.0"    if PKG_LVGL_VER_NUM = 0x08020
       default "latest"    if PKG_LVGL_VER_NUM = 0x99999

endif

