
# Kconfig file for package LVGL
menuconfig PKG_USING_LVGL
    bool "LVGL (official): powerful and easy-to-use embedded GUI library"
    default n

if PKG_USING_LVGL

    config PKG_LVGL_PATH
        string
        default "/packages/multimedia/LVGL/LVGL"

    config LVGL_THREAD_PRIO
        int "priority of LVGL thread"
        default 20

    config LVGL_THREAD_STACK_SIZE
        int "stack size of LVGL thread"
        default 4096

    config PKG_USING_LVGL_EXAMPLES
        bool "Enable built-in examples"
        default n

    config PKG_USING_LVGL_DEMOS
        bool "Enable built-in demos"
        default n

    config PKG_LVGL_VER
       string
       default "latest"
       default "v8.2.0"    if RT_VER_NUM = 0x40100
       

    config PKG_LVGL_VER_NUM
        hex
        default 0x99999    if PKG_USING_LVGL_LATEST_VERSION
        default 0x08020    if RT_VER_NUM = 0x40100
endif

