menu "Sensors"

source "$PKGS_DIR/packages/arduino/sensors/sensor-device-drivers/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-Sensor/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SensorLab/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-ADXL375/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-VL53L0X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-VL53L1X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-VL6180X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MAX31855/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MAX31865/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MAX31856/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MAX6675/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MLX90614/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LSM9DS1/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-AHTX0/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LSM9DS0/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BMP280/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-ADT7410/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BMP085/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BME680/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MCP9808/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MCP4728/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-INA219/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LTR390/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-ADXL345/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-DHT/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MCP9600/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LSM6DS/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BNO055/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MAX1704X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MMC56x3/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MLX90393/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MLX90395/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-ICM20X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-DPS310/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-HTS221/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SHT4X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SHT31/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-ADXL343/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BME280/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-AS726x/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-AMG88xx/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-AM2320/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-AM2315/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LTR329-LTR303/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BMP085-Unified/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BMP183/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BMP183-Unified/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BMP3XX/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MS8607/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LIS3MDL/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MLX90640/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MMA8451/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MSA301/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MPL115A2/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BNO08x/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-BNO08x-RVC/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LIS2MDL/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LSM303DLH-Mag/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LC709203F/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-CAP1188/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-CCS811/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-NAU7802/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LIS331/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LPS2X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LPS35HW/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LSM303-Accel/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-LIS3DH/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-PCF8591/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MPL3115A2/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MPR121/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MPRLS/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-MPU6050/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-PCT2075/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-PM25AQI/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-EMC2101/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-FXAS21002C/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SCD30/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-FXOS8700/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-HMC5883-Unified/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SGP30/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TMP006/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TLA202x/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TCS34725/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-Si7021/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SI1145/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SGP40/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-SHTC3/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-HDC1000/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-HTU21DF/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-AS7341/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-HTU31D/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-INA260/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TMP007-Library/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-L3GD20/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TMP117/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TSC2007/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TSL2561/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-TSL2591-Library/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-VCNL4040/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-VEML6070/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-VEML6075/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Adafruit-VEML7700/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-LIS3DHTR/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-DHT/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-ADXL335/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-ADXL345/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-BME280/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-BMP280/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-H3LIS331DL/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-MMA7660/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-TSL2561/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-PAJ7620/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-VL53L0X/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-ITG3200/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-SHT31/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-HP20x/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-DRV2605L/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-BBM150/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-HMC5883L/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-LSM303DLH/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-TCS3414CS/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-MP503/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-BMP085/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-HighTemp/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-VEML6070/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-Si1145/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-SHT35/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-AT42QT1070/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-LSM6DS3/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-HDC1000/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-HM3301/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-MCP9600/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-LTC2941/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Seeed-LDC1612/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/CapacitiveSensor/Kconfig"
source "$PKGS_DIR/packages/arduino/sensors/Jarzebski-MPU6050/Kconfig"

endmenu
