
# Kconfig file for package Seeed-HP20x
menuconfig PKG_USING_ARDUINO_SEEED_HP20X
    bool "Seeed HP20x: Barometric Pressure, Altimeter, and Temperature Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    default n

if PKG_USING_ARDUINO_SEEED_HP20X

    config PKG_ARDUINO_SEEED_HP20X_PATH
        string
        default "/packages/arduino/sensors/Seeed-HP20x"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_SEEED_HP20X_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_SEEED_HP20X_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_SEEED_HP20X_VER
       string
       default "latest"    if PKG_USING_ARDUINO_SEEED_HP20X_LATEST_VERSION

endif

