
config PKG_USING_ELOG
    bool "A ultra-lightweight, high-performance C/C++ log library"
    default n

if PKG_USING_ELOG

    config PKG_ELOG_PATH
        string
        default "/packages/tools/easylogger"
    
    config PKG_ELOG_VER
        string
        default "2.0.0"

menu "EasyLogger Options"

    config PKG_ELOG_ENABLE_OUTPUT
        bool
        prompt "Enable log output"
        default y

    choice
        prompt "Static output log level"
        default PKG_ELOG_OUTPUT_LVL_VERBOSE
        help
          Select the output log level. The logs which below the select log level will not be output.
        config PKG_ELOG_OUTPUT_LVL_ASSERT
            bool "ASSERT"
        config PKG_ELOG_OUTPUT_LVL_ERROR
            bool "ERROR"
        config PKG_ELOG_OUTPUT_LVL_WARN
            bool "WARN"
        config PKG_ELOG_OUTPUT_LVL_INFO
            bool "INFO"
        config PKG_ELOG_OUTPUT_LVL_VERBOSE
            bool "VERBOSE"
    endchoice

    config PKG_ELOG_ENABLE_ASSERT
        bool
        prompt "Enable assert check"
        default y

    config PKG_ELOG_LINE_BUF_SIZE
        int
        prompt "Buffer size for every line's log"
        default 256

    config PKG_ELOG_FILTER_TAG_MAX_LEN
        int
        prompt "Output filter's tag max length"
        default 30

    config PKG_ELOG_FILTER_KW_MAX_LEN
        int
        prompt "Output filter's keyword max length"
        default 16

    choice
        prompt "Output newline sign"
        default PKG_ELOG_NEWLINE_SIGN_CRLF
        config PKG_ELOG_NEWLINE_SIGN_CRLF
            bool "\\r\\n"
        config PKG_ELOG_NEWLINE_SIGN_LF
            bool "\\n"
        config PKG_ELOG_NEWLINE_SIGN_CR
            bool "\\r"
    endchoice

    config PKG_ELOG_ENABLE_COLOR
        bool
        prompt "Enable color log"
        default y

    config PKG_ELOG_ENABLE_ASYNC_OUTPUT
        bool
        prompt "Enable asynchronous output mode"
        default n

    config PKG_ELOG_ASYNC_OUTPUT_BUF_SIZE
        int
        prompt "Buffer size for asynchronous output mode"
        default 512
        depends on PKG_ELOG_ENABLE_ASYNC_OUTPUT

    config PKG_ELOG_ASYNC_LINE_OUTPUT
        bool
        prompt "Output's log which must end with newline sign"
        default y
        depends on PKG_ELOG_ENABLE_ASYNC_OUTPUT

    config PKG_ELOG_ASYNC_OUTPUT_USING_PTHREAD
        bool
        prompt "Using POSIX pthread implementation"
        default n
        depends on PKG_ELOG_ENABLE_ASYNC_OUTPUT
        select RT_USING_PTHREADS

    config PKG_ELOG_ENABLE_PLUGIN_FLASH
        bool
        prompt "Enable flash plugin"
        default n
        select PKG_USING_EASYFLASH
        select PKG_EASYFLASH_ENABLE_LOG

    config PKG_ELOG_FLASH_BUF_SIZE
        int
        prompt "Flash log plugin's RAM buffer size"
        default 1024
        depends on PKG_ELOG_ENABLE_PLUGIN_FLASH
endmenu

endif
