
# Kconfig file for package cmatrix
menuconfig PKG_USING_CMATRIX
    bool "cmatrix: text flying in and out in a terminal like as seen in 'The Matrix' movie"
    select PKG_USING_VT100
    default n

if PKG_USING_CMATRIX

    config PKG_CMATRIX_PATH
        string
        default "/packages/misc/entertainment/cmatrix"

    config PKG_CMATRIX_VER
       string
       default "latest"

endif

