
# Kconfig file for package agile_console
menuconfig PKG_USING_AGILE_CONSOLE
    bool "agile_console: Simple debugging device Middleware."
    default n
    select RT_USING_DEVICE_IPC

if PKG_USING_AGILE_CONSOLE

    config PKG_AGILE_CONSOLE_PATH
        string
        default "/packages/peripherals/agile_console"

    config PKG_AGILE_CONSOLE_RX_BUFFER_SIZE
        int "Set agile_console rx buffer size"
        default 1024

    config PKG_AGILE_CONSOLE_DEVICE_NAME
        string "Set agile_console device name"
        default "tty"

    config PKG_AGILE_CONSOLE_THREAD_PRIORITY
        int "Set agile_console thread priority"
        default 9

    config PKG_AGILE_CONSOLE_THREAD_STACK_SIZE
        int "Set agile_console thread stack size"
        default 2048

    config PKG_USING_AGILE_CONSOLE_SERIAL_EXAMPLE
        bool "Enable agile_console serial example"
        default n

    if PKG_USING_AGILE_CONSOLE_SERIAL_EXAMPLE

        config PKG_AGILE_CONSOLE_SERIAL_DEVICE_NAME
            string "Set serial device name"
            default "uart"

    endif

    if PKG_AGILE_CONSOLE_VER_NUM > 0x10001

        config PKG_AGILE_CONSOLE_USING_TELNET
            bool "Enable telnet plugin"
            default n
            select PKG_USING_AGILE_TELNET

        config PKG_AGILE_CONSOLE_USING_TINYUSB
            bool "Enable tinyusb plugin"
            depends on RT_VER_NUM >= 0x40100
            default n
            select PKG_USING_TINYUSB
            select PKG_TINYUSB_DEVICE_ENABLE
            select PKG_TINYUSB_DEVICE_CDC
            select RT_USING_TIMER_SOFT

    endif

    choice
        prompt "Version"
        default PKG_USING_AGILE_CONSOLE_V110
        help
            Select the package version

        config PKG_USING_AGILE_CONSOLE_V110
            bool "v1.1.0"

        config PKG_USING_AGILE_CONSOLE_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_AGILE_CONSOLE_VER
       string
       default "v1.1.0"    if PKG_USING_AGILE_CONSOLE_V110
       default "latest"    if PKG_USING_AGILE_CONSOLE_LATEST_VERSION

    config PKG_AGILE_CONSOLE_VER_NUM
        hex
        default 0x10100    if PKG_USING_AGILE_CONSOLE_V110
        default 0x99999    if PKG_USING_AGILE_CONSOLE_LATEST_VERSION
endif

