
# Kconfig file for package ROSSERIAL
menuconfig PKG_USING_ROSSERIAL
    bool "rosserial: a protocol for Robots Operating System (ROS)"
    default n

if PKG_USING_ROSSERIAL

    config PKG_ROSSERIAL_PATH
        string
        default "/packages/peripherals/rosserial"

    menu "roserial examples"
        config ROSSERIAL_USING_HELLO_WORLD_UART
            bool "Hello World  : hello world example using UART"
            select RT_USING_SERIAL
            help
                Hello World example using UART
            default n

        if ROSSERIAL_USING_HELLO_WORLD_UART
            config ROSSERIAL_UART_NAME
            string "serial device name"
            default "uart2"
        endif
    endmenu

    choice
        prompt "Version"
        default PKG_USING_ROSSERIAL_LATEST_VERSION
        help
            Select the package version
        config PKG_USING_ROSSERIAL_LATEST_VERSION
            bool "latest"
    endchoice
          
    config PKG_ROSSERIAL_VER
       string
       default "latest"    if PKG_USING_ROSSERIAL_LATEST_VERSION

endif

