
# Kconfig file for package u8g2
menuconfig PKG_USING_U8G2
    bool "U8G2: a monochrome graphic library"
    select RT_USING_PIN
    default n

if PKG_USING_U8G2

    config PKG_U8G2_PATH
        string
        default "/packages/peripherals/u8g2"

    config U8G2_USE_HW_SPI
        bool "Use hardware spi"
        select RT_USING_SPI
        default n

    if U8G2_USE_HW_SPI
        config U8G2_SPI_BUS_NAME
        string "spi bus name"
        default "spi1"
        config U8G2_SPI_DEVICE_NAME
        string "spi device name"
        default "spi10"
    endif

    config U8G2_USE_HW_I2C
        bool "Use hardware i2c"
        select RT_USING_I2C
        select RT_USING_I2C_BITOPS
        default n

    if U8G2_USE_HW_I2C
        config U8G2_I2C_DEVICE_NAME
        string "i2c device name"
        default "i2c2"
    endif

    menu "U8G2 Examples"
        if U8G2_USE_HW_I2C
            config U8G2_USING_I2C_YL40
                bool "YL-40  : basic example for PCF8591 (I2C A/D and D/A)"
                help
                    Read from / Write to PCF8591 which can be used to check whether i2c bus is working.
                default n
        endif

        config U8G2_USING_SW_I2C_SSD1306
            bool "SSD1306: basic example for I2C OLED (software)"
            help
                Print "Hello RT-Thread" on SSD1306 OLED using software I2C
            default n

        if U8G2_USE_HW_I2C
            config U8G2_USING_HW_I2C_SSD1306
                bool "SSD1306: basic example for I2C OLED (hardware)"
                help
                    Print "Hello RT-Thread" on SSD1306 OLED using hardware I2C
                default n
        endif

        config U8G2_USING_SW_SPI_SSD1306
            bool "SSD1306: basic example for SPI OLED (software)"
            help
                Print "Hello RT-Thread" on SSD1306 OLED using software SPI
            default n

        if U8G2_USE_HW_SPI
            config U8G2_USING_HW_SPI_SSD1306
                bool "SSD1306: basic example for SPI OLED (hardware)"
                help
                    Print "Hello RT-Thread" on SSD1306 OLED using hardware SPI
                default n
        endif

        config U8G2_USING_8080_ST7920
            bool "ST7920 : basic example for 8080 mode LCD"
            help
                Print "Hello RT-Thread" on ST7920 LCD using 8080 mode
            default n

        if PKG_U8G2_VER_NUM > 0x20000
            menu "full buffer examples    (fast, large RAM consumption)"
                config U8G2_USING_FRAME_EXAMPLE_FONT_USAGE
                    bool "Font Usage        : How to overwrite previous text with a new text"
                    help
                        Font Usage : Demonstrating the correct way of using fonts
                    default n

                config U8G2_USING_FRAME_EXAMPLE_FPS
                    bool "Frames Per Second : Display Performance Test"
                    help
                        Frames Per Second: Display Performance Test
                    default n

                config U8G2_USING_FRAME_EXAMPLE_GRAPHIC_TEST
                    bool "Graphic Test      : dispaly speed benchmark"
                    help
                        Graphic Test : Test the performance of your devices
                    default n

                config U8G2_USING_FRAME_EXAMPLE_HELLO_WORLD
                    bool "Hello World       : Well-known hello world"
                    help
                        Hello World: Well-known hello world
                    default n

                config U8G2_USING_FRAME_EXAMPLE_ICON_MENU
                    bool "Icon Menu         : Homepage menu entry with icons"
                    help
                         This is an interactive demo and requires "next", "prev" and "select" button.
                         Minimum height of the display should be 64.
                    default n

                config U8G2_USING_FRAME_EXAMPLE_PRINT_UTF8
                    bool "Print UTF8        : Chinese hello world"
                    help
                        Print UTF8 : Chinese hello world
                    default n

                config U8G2_USING_FRAME_EXAMPLE_SELECTION_LIST
                    bool "Selection List    : A list of selections"
                    help
                        Selection List : A list of selections
                    default n

                config U8G2_USING_FRAME_EXAMPLE_U8G2_LOGO
                    bool "U8G2 Logo         : Print U8G2 Logo"
                    help
                        U8G2 Logo : Print U8G2 Logo
                    default n

                config U8G2_USING_FRAME_EXAMPLE_UPDATE_AREA
                    bool "Update Area       : A scrolling screen"
                    help
                        Update Area : Demonstration for the UpdateDisplayArea command
                    default n

                config U8G2_USING_FRAME_EXAMPLE_WEATHER
                    bool "Weather           : Print weather icons from open-iconic set"
                    help
                        Demonstrates:
                        - Weather icons from open-iconic set.
                        - Text scrolling.
                        - Partial screen update
                    default n
            endmenu

            menu "game examples"
                config U8G2_USING_FRAME_EXAMPLE_SPACE_TRASH
                    bool "Space Trash : A space war game"
                    help
                        Space Trash : A space war game
                    default n
            endmenu
        endif
    endmenu

    choice
        prompt "Version"
        default PKG_USING_U8G2_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_U8G2_V100
            bool "v1.0.0"

        config PKG_USING_U8G2_V110
            bool "v1.1.0"

        config PKG_USING_U8G2_V120
            bool "v1.2.0"

        config PKG_USING_U8G2_V200
            bool "v2.0.0"

        config PKG_USING_U8G2_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_U8G2_VER
       string
       default "v1.0.0"    if PKG_USING_U8G2_V100
       default "v1.1.0"    if PKG_USING_U8G2_V110
       default "v1.2.0"    if PKG_USING_U8G2_V120
       default "v2.0.0"    if PKG_USING_U8G2_V200
       default "latest"    if PKG_USING_U8G2_LATEST_VERSION

    config PKG_U8G2_VER_NUM
        hex
        default 0x10000 if PKG_USING_U8G2_V100
        default 0x10100 if PKG_USING_U8G2_V110
        default 0x10200 if PKG_USING_U8G2_V120
        default 0x20000 if PKG_USING_U8G2_V200
        default 0x99999 if PKG_USING_U8G2_LATEST_VERSION
endif

