
# Kconfig file for package u8g2
menuconfig PKG_USING_U8G2
    bool "U8G2: a u8g2 package for rt-thread"
    default n
    select RT_USING_I2C
    select RT_USING_I2C_BITOPS

if PKG_USING_U8G2

    config PKG_U8G2_PATH
        string
        default "/packages/peripherals/u8g2"

    choice
        prompt "Version"
        default PKG_USING_U8G2_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_U8G2_V100
            bool "v1.0.0"

        config PKG_USING_U8G2_LATEST_VERSION
            bool "latest"
    endchoice
          
    config PKG_U8G2_VER
       string
       default "v1.0.0"    if PKG_USING_U8G2_V100
       default "latest"    if PKG_USING_U8G2_LATEST_VERSION

endif

