
# Kconfig file for package uffs
menuconfig PKG_USING_DFS_UFFS
    bool "UFFS: Ultra-low-cost Flash File System."
    select RT_USING_DFS      if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS if RT_VER_NUM >= 0x40100
    select RT_USING_MTD_NAND
    default n

if PKG_USING_DFS_UFFS

    config PKG_UFFS_PATH
        string
        default "/packages/system/uffs"

    config RT_USING_DFS_UFFS
        bool
        default y

    choice
        prompt "UFFS ECC mode"
        default RT_UFFS_ECC_MODE_1

        config RT_UFFS_ECC_MODE_0
            bool "0: Do not use ECC"

        config RT_UFFS_ECC_MODE_1
            bool "1: UFFS calculate the ECC"

        config RT_UFFS_ECC_MODE_2
            bool "2: Flash driver(or by hardware) calculate the ECC"

        config RT_UFFS_ECC_MODE_3
            bool "3: Hardware calculate the ECC and automatically write to spare."
    endchoice

    config RT_UFFS_ECC_MODE
        int
        default 0 if RT_UFFS_ECC_MODE_0
        default 1 if RT_UFFS_ECC_MODE_1
        default 2 if RT_UFFS_ECC_MODE_2
        default 3 if RT_UFFS_ECC_MODE_3


    choice
        prompt "Version"
        default PKG_USING_DFS_UFFS_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_DFS_UFFS_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_UFFS_VER
       string
       default "latest"    if PKG_USING_DFS_UFFS_LATEST_VERSION

endif

