
# Kconfig file for package mlx90392
menuconfig PKG_USING_MLX90392
    bool "a mlx90392 package for rt-thread."
    default n

if PKG_USING_MLX90392

    config PKG_MLX90392_PATH
        string
        default "/packages/peripherals/sensors/mlx90392"

    config PKG_MLX90392_USING_SENSOR_V1
        bool "Enable sensor_v1 device framework"
        select RT_USING_SENSOR
        default n
    
    config PKG_USING_MLX90392_SAMPLE
        bool "Enable mlx90392 Sample"
        default n

    choice
        prompt "Version"
        default PKG_USING_MLX90392_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_MLX90392_V100
            bool "v1.0.0"

        config PKG_USING_MLX90392_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_MLX90392_VER
       string
       default "v1.0.0"    if PKG_USING_MLX90392_V100
       default "latest"    if PKG_USING_MLX90392_LATEST_VERSION

endif

