menuconfig EZIOT_OTA_ENABLE
    bool "Enable ez-iot ota"
    default y

config EZIOT_OTA_TASK_STACK_SIZE
    int "Stack size of ota task"
    default 16384
    depends on EZIOT_OTA_ENABLE
    help
            Stack size for ota task, the task is used for download ota file

config EZIOT_OTA_TASK_PRIORITY
    int "priority of ota task"
    range 0 255
    default 10
    depends on EZIOT_OTA_ENABLE
