
# Kconfig file for package phytium_sdk
menuconfig PKG_USING_PHYTIUM_SDK
    bool "Phytium Software Development Kit ."
    default n

if PKG_USING_PHYTIUM_SDK

    config PKG_PHYTIUM_SDK_PATH
        string
        default "/packages/peripherals/phytium_sdk"

    choice
        prompt "Version"
        default PKG_USING_PHYTIUM_SDK_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_PHYTIUM_SDK_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_PHYTIUM_SDK_VER
       string
       default "latest"    if PKG_USING_PHYTIUM_SDK_LATEST_VERSION

endif

