
# Kconfig file for package perf_counter
menuconfig PKG_USING_PERF_COUNTER
    bool "perf_counter: A dedicated performance counter for Cortex-M systick"
    select RT_USING_HOOK
    select RT_HOOK_USING_FUNC_PTR
    default n

if PKG_USING_PERF_COUNTER

    config PKG_PERF_COUNTER_PATH
        string
        default "/packages/system/perf_counter"

    config PKG_PERF_COUNTER_USING_THREAD_STATISTIC
        bool "Enable thread statistic"
        default n

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_PERF_COUNTER_V2241
            bool "v2.2.4.1"

        config PKG_USING_PERF_COUNTER_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_PERF_COUNTER_VER
       string
       default "v2.2.4.1"  if PKG_USING_PERF_COUNTER_V2241
       default "latest"    if PKG_USING_PERF_COUNTER_LATEST_VERSION

endif

