
# Kconfig file for package Adafruit-AM2320
menuconfig PKG_USING_ARDUINO_ADAFRUIT_AM2320
    bool "Adafruit AM2320 : Temperature & Humidity Unified Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_SENSOR
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_AM2320

    config PKG_ARDUINO_ADAFRUIT_AM2320_PATH
        string
        default "/packages/arduino/sensors/Adafruit-AM2320"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_AM2320_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_AM2320_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_AM2320_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_AM2320_LATEST_VERSION

endif

