
# Kconfig file for package raspberrypi
menuconfig PKG_USING_RASPBERRYPI_PICO_SDK
    bool "Raspberry Pi Pico SDK"
    default n

if PKG_USING_RASPBERRYPI_PICO_SDK

    config PKG_RASPBERRYPI_PICO_SDK_PATH
        string
        default "/packages/peripherals/hal-sdk/raspberrypi-pico-sdk"

    choice
        prompt "Version"
        default PKG_USING_RASPBERRYPI_PICO_SDK_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_RASPBERRYPI_PICO_SDK_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_RASPBERRYPI_PICO_SDK_VER
       string
       default "latest"    if PKG_USING_RASPBERRYPI_PICO_SDK_LATEST_VERSION

endif

