
# Kconfig file for package Arm-2D
menuconfig PKG_USING_ARM_2D
    bool "Arm-2D: 2D Graphic Library optimized for Cortex-M processors"
    default n

if PKG_USING_ARM_2D

    config PKG_ARM_2D_PATH
        string
        default "/packages/multimedia/Arm-2D"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_ARM_2D_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARM_2D_VER
       string
       default "latest"    if PKG_USING_ARM_2D_LATEST_VERSION

endif

