menu "IoT Cloud"

source "$PKGS_DIR/packages/iot/iot_cloud/onenet/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/GAgent/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/ali-iotkit/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/azure-iot-sdk/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/tencent-iotkit/Kconfig"
endmenu
