menu "IoT Cloud"

source "$PKGS_DIR/packages/iot/iot_cloud/onenet/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/GAgent/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/ali-iotkit/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/azure-iot-sdk/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/tencent-iot-sdk/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/jiot-c-sdk/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/ucloud_iot_sdk/Kconfig"
source "$PKGS_DIR/packages/iot/iot_cloud/joylink/Kconfig"
#source "$PKGS_DIR/packages/iot/iot_cloud/ez_iot_os/Kconfig"  #missing repo
source "$PKGS_DIR/packages/iot/iot_cloud/iotsharp-c-sdk/Kconfig"

endmenu
