menu "IoT Cloud"

rsource "onenet/Kconfig"
rsource "GAgent/Kconfig"
rsource "ali-iotkit/Kconfig"
rsource "azure-iot-sdk/Kconfig"
rsource "tencent-iot-sdk/Kconfig"
rsource "jiot-c-sdk/Kconfig"
rsource "ucloud_iot_sdk/Kconfig"
rsource "joylink/Kconfig"
#rsource "ez_iot_os/Kconfig"  #missing repo
rsource "iotsharp-c-sdk/Kconfig"

endmenu
