
# Kconfig file for package Adafruit-PCA9685
menuconfig PKG_USING_ARDUINO_ADAFRUIT_PCA9685
    bool "Adafruit PCA9685: 16-Channel 12-bit PWM/Servo Driver"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    default n

if PKG_USING_ARDUINO_ADAFRUIT_PCA9685

    config PKG_ARDUINO_ADAFRUIT_PCA9685_PATH
        string
        default "/packages/arduino/devicecontrol/Adafruit-PCA9685"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_PCA9685_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_PCA9685_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_PCA9685_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_PCA9685_LATEST_VERSION

endif

