menuconfig EZIOT_TSL_ENABLE
    bool "Enable ez-iot tsl(Thing Specification Language)"
    default y

config EZIOT_TSL_SHADOW_SUPPORT
    bool "Use shadow to synchronize property"
    default y
    depends on EZIOT_TSL_ENABLE
    select EZIOT_SHADOW_ENABLE

choice EZIOT_TSL_LEGALITY_CHECK_LEVEL
    prompt "Functional legality check level"
    default EZIOT_TSL_LEGALITY_CHECK_WEAK
    depends on EZIOT_TSL_ENABLE

config EZIOT_TSL_LEGALITY_CHECK_NONE
    bool "NONE"
config EZIOT_TSL_LEGALITY_CHECK_WEAK
    bool "WEAK"
config EZIOT_TSL_LEGALITY_CHECK_STRONG
    bool "STRONG"
endchoice

config EZIOT_TSL_DOWNLOAD_TASK_PRIORITY
    int "Priority of profile download task"
    range 0 255
    default 5
    depends on EZIOT_TSL_ENABLE

config EZIOT_TSL_DOWNLOAD_STACK_SIZE
    int "Stack size of profile download task"
    default 16384
    depends on EZIOT_TSL_ENABLE

config EZIOT_TSL_PROFILE_MAP_SIZE
    int "Profile map size limit"
    default 4096
    depends on EZIOT_TSL_LEGALITY_CHECK_WEAK || EZIOT_TSL_LEGALITY_CHECK_STRONG && EZIOT_TSL_ENABLE

config EZIOT_TSL_PROFILE_SIZE
    int "Profile size limit"
    default 8192
    depends on EZIOT_TSL_LEGALITY_CHECK_WEAK || EZIOT_TSL_LEGALITY_CHECK_STRONG && EZIOT_TSL_ENABLE
