# Kconfig file for package CherryUSB
menuconfig PKG_USING_CHERRYUSB
    bool "CherryUSB: tiny and portable USB host/device stack for embedded system with USB IP"
    default n
    select RT_USING_LIBC

if PKG_USING_CHERRYUSB

    config PKG_CHERRYUSB_PATH
        string
        default "/packages/system/CherryUSB"

    choice
        prompt "Version"
        default PKG_USING_CHERRYUSB_V010300 if RT_VER_NUM == 0x50000
        default PKG_USING_CHERRYUSB_V010200 if RT_VER_NUM >= 0x40100
        default PKG_USING_CHERRYUSB_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_CHERRYUSB_LATEST_VERSION
            bool "latest"

        config PKG_USING_CHERRYUSB_V010200
            bool "v1.2.0"
        config PKG_USING_CHERRYUSB_V001002
            bool "v0.10.2"
    endchoice

    config PKG_CHERRYUSB_VER
       string
       default "latest"    if PKG_USING_CHERRYUSB_LATEST_VERSION
       default "v1.2.0"   if PKG_USING_CHERRYUSB_V010200
       default "v0.10.2"   if PKG_USING_CHERRYUSB_V001002
endif
