menu "NXP HAL & SDK Drivers"

# nxp-mcx
source "$PKGS_DIR/packages/peripherals/hal-sdk/nxp/nxp-mcx-cmsis/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/nxp/nxp-mcx-series/Kconfig"

# nxp-lpc
source "$PKGS_DIR/packages/peripherals/hal-sdk/nxp/nxp-lpc-series/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/nxp/nxp-lpc55s-series/Kconfig"

# nxp-imx
source "$PKGS_DIR/packages/peripherals/hal-sdk/nxp/nxp-imx6sx-sdk/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/nxp/nxp-imx6ul-sdk/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/nxp/nxp-imxrt-sdk/Kconfig"

endmenu
