
# Kconfig file for package Adafruit-MCP4728
menuconfig PKG_USING_ARDUINO_ADAFRUIT_MCP4728
    bool "Adafruit MCP4728: 4-Channel 12-Bit I2C DAC"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_MCP4728

    config PKG_ARDUINO_ADAFRUIT_MCP4728_PATH
        string
        default "/packages/arduino/sensors/Adafruit-MCP4728"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_MCP4728_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_MCP4728_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_MCP4728_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_MCP4728_LATEST_VERSION

endif

