# Kconfig file for package ina226
menuconfig PKG_USING_INA226
    bool "ina226: a ina226 package for rt-thread."
    default n
    select RT_USING_I2C
    help
        A current monitoring chip from TI, driven through the SENSOR frame.

if PKG_USING_INA226
	config PKG_INA226_USING_SENSOR_V1
        bool "Enable sensor_v1 divce framework(please enbale an i2c bus)"
        select RT_USING_SENSOR
        default n
		
    config PKG_USING_INA226_EXAMPLE
        bool "Enable ina226 example"
        select PKG_INA226_USING_SENSOR_V1
        default n

    config PKG_INA226_PATH
        string
        default "/packages/peripherals/sensors/ina226"

    choice
        prompt "Version"
        default PKG_USING_INA226_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_INA226_V101
            bool "v1.0.1"

        config PKG_USING_INA226_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_INA226_VER
       string
       default "latest"    if PKG_USING_INA226_LATEST_VERSION

endif

