
# Kconfig file for package Adafruit-MCP9600
menuconfig PKG_USING_ARDUINO_ADAFRUIT_MCP9600
    bool "Adafruit MCP9600 I2C Thermocouple ADC sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_MCP9600

    config PKG_ARDUINO_ADAFRUIT_MCP9600_PATH
        string
        default "/packages/arduino/sensors/Adafruit-MCP9600"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_MCP9600_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_MCP9600_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_MCP9600_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_MCP9600_LATEST_VERSION

endif

