
# Kconfig file for package Adafruit-LSM303DLHC
menuconfig PKG_USING_ARDUINO_ADAFRUIT_LSM303DLHC
    bool "Adafruit LSM303DLHC: Accelerometer and Magnetometer Sensor"
    select PKG_USING_RTDUINO
    select PKG_USING_ARDUINO_ADAFRUIT_SENSOR
    default n

if PKG_USING_ARDUINO_ADAFRUIT_LSM303DLHC

    config PKG_ARDUINO_ADAFRUIT_LSM303DLHC_PATH
        string
        default "/packages/arduino/sensors/Adafruit-LSM303DLHC"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_LSM303DLHC_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_LSM303DLHC_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_LSM303DLHC_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_LSM303DLHC_LATEST_VERSION

endif

