
# Kconfig file for package donut
menuconfig PKG_USING_DONUT
    bool "donut: a 3D spinning donut"
    default n

if PKG_USING_DONUT

    config PKG_DONUT_PATH
        string
        default "/packages/misc/entertainment/donut"

    config PKG_DONUT_VER
       string
       default "latest"

endif

