# Kconfig file for package hmc5883
menuconfig PKG_USING_HMC5883
    bool "hmc5883: a hmc5883 package for rt-thread."
    default n

if PKG_USING_HMC5883

    config PKG_HMC5883_PATH
        string
        default "/packages/peripherals/sensors/hmc5883"

    choice
        prompt "Version"
        default PKG_USING_HMC5883_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_HMC5883_V100
            bool "v1.0.0"

        config PKG_USING_HMC5883_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_HMC5883_VER
       string
       default "latest"    if PKG_USING_HMC5883_LATEST_VERSION

endif

