menu "STM32 HAL & SDK Drivers"

# STM32F4
source "$PKGS_DIR/packages/peripherals/hal-sdk/stm32/stm32f4_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/stm32/stm32f4_cmsis_driver/Kconfig"

#STM32L4
source "$PKGS_DIR/packages/peripherals/hal-sdk/stm32/stm32l4_hal_driver/Kconfig"
source "$PKGS_DIR/packages/peripherals/hal-sdk/stm32/stm32l4_cmsis_driver/Kconfig"

#STM32WB55
source "$PKGS_DIR/packages/peripherals/hal-sdk/stm32/stm32wb55_sdk/Kconfig"

source "$PKGS_DIR/packages/peripherals/hal-sdk/stm32/stm32_sdio/Kconfig"

endmenu
