
# Kconfig file for package ms5805
menuconfig PKG_USING_MS5805
    bool "MS5805: Digital pressure sensor"
    default n

if PKG_USING_MS5805

    config PKG_MS5805_PATH
        string
        default "/packages/peripherals/sensors/ms5805"

    config PKG_MS5805_USING_SENSOR_V1
        bool "Enable sensor_v1 device framework"
        select RT_USING_SENSOR
        default n

    if PKG_MS5805_USING_SENSOR_V1
        config PKG_USING_MS5805_SAMPLE
            bool "Enable MS5805 sensor_v1 example"
            default n
    endif

    config PKG_MS5805_USING_TEMP
        bool "Enable MS5805 temperature"
        default n

    config PKG_MS5805_USING_BARO
        bool "Enable MS5805 pressure"
        default n

    choice
        prompt "Version"
        default PKG_USING_MS5805_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_MS5805_V100
            bool "v1.0.0"

        config PKG_USING_MS5805_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_MS5805_VER
       string
       default "v1.0.0"    if PKG_USING_MS5805_V100
       default "latest"    if PKG_USING_MS5805_LATEST_VERSION

endif

