
# Kconfig file for package Adafruit-HDC1000
menuconfig PKG_USING_ARDUINO_ADAFRUIT_HDC1000
    bool "Adafruit HDC1000: Temperature and Humidity Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_HDC1000

    config PKG_ARDUINO_ADAFRUIT_HDC1000_PATH
        string
        default "/packages/arduino/sensors/Adafruit-HDC1000"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_HDC1000_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_HDC1000_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_HDC1000_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_HDC1000_LATEST_VERSION

endif

