
# Kconfig file for package uCOSIII_Wrapper
menuconfig PKG_USING_UCOSIII_WRAPPER
    bool "μC/OS-III RTOS Application Compatibility Layer for RT-Thread"
    default n
    select RT_USING_TIMER_SOFT
    select RT_USING_IDLE_HOOK

if PKG_USING_UCOSIII_WRAPPER

    config PKG_UCOSIII_WRAPPER_PATH
        string
        default "/packages/system/Micrium/uCOSIII_Wrapper"

    config PKG_USING_UCOSIII_WRAPPER_AUTOINIT
        bool "Enable uCOS-III wrapper automatical initialization"
        default y
        help
            The wrapper supports uCOS-III standard startup procedure. Alternatively,
            if you want to run uCOS-III apps directly and ignore the startup procedure,
            you can choose this option.

     config PKG_USING_UCOSIII_WRAPPER_TINY
        bool "Enable uCOS-III wrapper tiny mode"
        default y

    choice
        prompt "Version"
        default PKG_USING_UCOSIII_WRAPPER_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_UCOSIII_WRAPPER_V100
            bool "v1.0.0"

        config PKG_USING_UCOSIII_WRAPPER_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_UCOSIII_WRAPPER_VER
       string
       default "v1.0.0"    if PKG_USING_UCOSIII_WRAPPER_V100
       default "latest"    if PKG_USING_UCOSIII_WRAPPER_LATEST_VERSION

endif

