
# Kconfig file for package RyanMqtt
menuconfig PKG_USING_RYANMQTT
    bool "RyanMqtt: 支持 MQTT3.1.1 协议所有特性的mqtt客户端"
    default n
    select RT_USING_SAL
    select RT_USING_ULOG        if PKG_RYANMQTT_VER_NUM < 0x110
    select ULOG_USING_COLOR     if PKG_RYANMQTT_VER_NUM < 0x110

if PKG_USING_RYANMQTT

    config PKG_USING_RYANMQTT_EXAMPLE
        bool "启用RyanMqtt msh示例"
        default y

    config PKG_RYANMQTT_PATH
        string
        default "/packages/iot/RyanMqtt"

    choice
        prompt "版本选择: 推荐首选latest, 其次选择最后一个版本, 其余版本不推荐"
        default PKG_USING_RYANMQTT_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_RYANMQTT_V001
            bool "v0.0.1"

        config PKG_USING_RYANMQTT_V100
            bool "v1.0.0"

        config PKG_USING_RYANMQTT_V110
            bool "v1.1.0"

        config PKG_USING_RYANMQTT_V120
            bool "v1.2.0"

        config PKG_USING_RYANMQTT_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_RYANMQTT_VER
       string
       default "v0.0.1"    if PKG_USING_RYANMQTT_V001
       default "v1.0.0"    if PKG_USING_RYANMQTT_V100
       default "v1.1.0"    if PKG_USING_RYANMQTT_V110
       default "v1.2.0"    if PKG_USING_RYANMQTT_V120
       default "latest"    if PKG_USING_RYANMQTT_LATEST_VERSION

    config PKG_RYANMQTT_VER_NUM
       hex
       default 0x001    if PKG_USING_RYANMQTT_V001
       default 0x100    if PKG_USING_RYANMQTT_V100
       default 0x110    if PKG_USING_RYANMQTT_V110
       default 0x120    if PKG_USING_RYANMQTT_V120
       default 0xfff    if PKG_USING_RYANMQTT_LATEST_VERSION

endif

