
menuconfig PKG_USING_TENCENT_IOTKIT
    bool "Tencent-iotkit:  Tencent Cloud SDK for IoT platform"
    select RT_USING_SAL
    select SAL_USING_POSIX
    default n

if PKG_USING_TENCENT_IOTKIT

    config PKG_TENCENT_IOTKIT_PATH
        string
        default "/packages/iot/iot_cloud/tencent-iotkit"

   choice
        prompt "Select Auth Mode"
        help
            Select Tencentyun Auth Mode
                     
        config PKG_USING_TENCENT_IOTKIT_IS_SING
            bool "AUTH BY DYNAMIC SIGN"
            help
                AUTH BY DYNAMIC SIGN
				
        config PKG_USING_TENCENT_IOTKIT_IS_TOKEN
            bool "AUTH BY TOKEN"
            help
                AUTH BY TOKEN				
    endchoice 
	
    config PKG_USING_TENCENT_IOTKIT_PRODUCT_ID
        string "Config Product Id"
        default iot-1l60dtl0  	

    config PKG_USING_TENCENT_IOTKIT_PRODUCT_KEY
        string "Config Product Key"
        default mqtt-1egtdjqza

    config PKG_USING_TENCENT_IOTKIT_DEVICE_NAME
        string "Config Device Name"
        default rt_thread_dev1        

    config PKG_USING_TENCENT_IOTKIT_DEVICE_SECRET
        string "Config Device Secret"
        default 92b0e676cdd608c4fb56386967613764

		
    config PKG_USING_TENCENT_IOTKIT_MQTT
        bool "Enable MQTT"
        default n 

    if PKG_USING_TENCENT_IOTKIT_MQTT
		choice
			prompt "Select MQTT data type"
			help
				Select MQTT data type
				
			config PKG_USING_TENCENT_IOTKIT_MQTT_ADVANCED
				bool "Enable MQTT Advanced"
				default y
			config PKG_USING_TENCENT_IOTKIT_MQTT_BASIC
				bool "Enable MQTT Basic"
				default n
		endchoice

		config PKG_USING_TENCENT_IOTKIT_MQTT_TLS
				bool "Enable MQTT SSL"
				default n
				select PKG_USING_MBEDTLS	
    endif

    config PKG_USING_TENCENT_IOTKIT_COAP
        bool "Enable COAP"
        default n
		
    if PKG_USING_TENCENT_IOTKIT_COAP
		choice
			prompt "Select COAP data type"
			help
				Select COAP data type
				
			config PKG_USING_TENCENT_IOTKIT_COAP_ADVANCED
				bool "Enable COAP Advanced"
				default y
			config PKG_USING_TENCENT_IOTKIT_COAP_BASIC
				bool "Enable COAP Basic"
				default n
		endchoice

		config PKG_USING_TENCENT_IOTKIT_COAP_DTLS
				bool "Enable COAP SSL"
				default n
				select PKG_USING_MBEDTLS	
    endif
	
    config PKG_USING_TENCENT_IOTKIT_SCENARIOS
        bool "Enable SCENARIOS"
        default n

    if PKG_USING_TENCENT_IOTKIT_SCENARIOS			   
        choice  
			prompt "Select SCENARIOS"
            help
               Select SCENARIOS
            config PKG_USING_TENCENT_IOTKIT_OTA
                bool "Use Scenario OTA"
              
            config PKG_USING_TENCENT_IOTKIT_SMARTBOX
                bool "Use Scenario SMARTBOX"
				
			config PKG_USING_TENCENT_IOTKIT_LIGHT
                bool "Use Scenario LIGHT"	
        endchoice
    endif
	
	config PKG_USING_TENCENT_IOTKIT_HTTP
        bool "Enable HTTP"
        default n

    choice
        prompt "Version"
        default PKG_USING_TENCENT_IOTKIT_LATEST_VERSION
        help
            Select the tencent-iotkit version

        config PKG_USING_TENCENT_IOTKIT_LATEST_VERSION
            bool "latest"
		
		config PKG_USING_TENCENT_IOTKIT_V29
            bool "v2.9"	
            
        config PKG_USING_TENCENT_IOTKIT_V26
            bool "v2.6"
    endchoice

    config PKG_TENCENT_IOTKIT_VER
       string
	   default "v2.6"    if PKG_USING_TENCENT_IOTKIT_V26
       default "v2.9"    if PKG_USING_TENCENT_IOTKIT_V29
       default "latest"    if PKG_USING_TENCENT_IOTKIT_LATEST_VERSION
    
endif
