menu "tools packages"

source "$PKGS_DIR/packages/tools/CmBacktrace/Kconfig"
source "$PKGS_DIR/packages/tools/EasyLogger/Kconfig"
source "$PKGS_DIR/packages/tools/SystemView/Kconfig"
source "$PKGS_DIR/packages/tools/iperf/Kconfig"

endmenu
