menu "tools packages"

rsource "CmBacktrace/Kconfig"
rsource "EasyFlash/Kconfig"
rsource "EasyLogger/Kconfig"
rsource "SystemView/Kconfig"
rsource "SEGGER_RTT/Kconfig"
rsource "rtt_auto_exe_cmd/Kconfig"
rsource "rdb/Kconfig"
rsource "ulog_easyflash/Kconfig"
rsource "ulog_file/Kconfig"
rsource "logmgr/Kconfig"
rsource "adbd/Kconfig"
rsource "CoreMark/Kconfig"
rsource "Dhrystone/Kconfig"
rsource "MemoryPerf/Kconfig"
rsource "nr_micro_shell/Kconfig"
rsource "ChineseFontLibrary/Kconfig"
rsource "lunar_calendar/Kconfig"
rsource "bs8116a/Kconfig"
rsource "gps_rmc/Kconfig"
rsource "UrlEncode/Kconfig"
rsource "uMCN/Kconfig"
rsource "lwrb2rtt/Kconfig"
rsource "cpu_usage/Kconfig"
rsource "gbk2utf8/Kconfig"
rsource "vconsole/Kconfig"
rsource "mbedtls_bench/Kconfig"
rsource "kdb/Kconfig"
rsource "wamr/Kconfig"
rsource "Micro-XRCE-DDS-Client/Kconfig"
rsource "lwlog/Kconfig"
rsource "anv_trace/Kconfig"
rsource "anv_memleak/Kconfig"
rsource "anv_testsuit/Kconfig"
rsource "anv_bench/Kconfig"
rsource "devmem/Kconfig"
rsource "regex/Kconfig"
rsource "mem_sandbox/Kconfig"
rsource "solar_terms/Kconfig"
rsource "gan_zhi/Kconfig"
rsource "fdt/Kconfig"
rsource "cBox/Kconfig"
rsource "snowflake/Kconfig"
rsource "hash-match/Kconfig"
rsource "armv7m_DWT/Kconfig"
rsource "vofa_plus/Kconfig"
rsource "RT_Trace/Kconfig"
rsource "zdebug/Kconfig"
endmenu
