
# Kconfig file for package CMSIS_RTOS2
menuconfig PKG_USING_CMSIS_RTOS2
    bool "CMSIS-RTOS2 wrapper for RT-Thread"
    select PKG_USING_CMSIS_5
    default n

if PKG_USING_CMSIS_RTOS2

    config PKG_CMSIS_RTOS2_PATH
        string
        default "/packages/system/CMSIS/CMSIS_RTOS2"

    config PKG_CMSIS_RTOS2_COMPATIBLE_CMSIS_RTOS1
        bool "CMSIS RTOS2 compatible with CMSIS RTOS1"
        default n

    choice
        prompt "Version"
        default PKG_USING_CMSIS_RTOS2_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_CMSIS_RTOS2_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_CMSIS_RTOS2_VER
       string
       default "latest"    if PKG_USING_CMSIS_RTOS2_LATEST_VERSION

endif

