
# Kconfig file for package wamr
menuconfig PKG_USING_WAMR
    bool "WebAssembly Micro Runtime (WAMR)"
    select RT_USING_LIBC     if RT_VER_NUM < 0x40100
    select RT_USING_DFS      if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS if RT_VER_NUM >= 0x40100
    default n

if PKG_USING_WAMR

    config PKG_WAMR_PATH
        string
        default "/packages/tools/wamr"

    choice
        prompt "Version"
        default PKG_USING_WAMR_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_WAMR_LATEST_VERSION
            bool "latest"
    endchoice

    config WAMR_ENABLE_IWASM_PARAMS
        bool
        prompt "Enable testing parameters of iwasm"
        default n

    config WAMR_BUILD_INTERP
        bool
        prompt "Enable Interpter Mode"
        default y

    if WAMR_BUILD_INTERP

        config WAMR_BUILD_FAST_INTERP
            bool
            prompt "Enable Fast Interpter"
            default y

    endif

    config WAMR_BUILD_LIBC_BUILTIN
        bool
        prompt "Use built-libc"
        default y

    config WAMR_BUILD_AOT
        bool
        prompt "Enable AOT"
        default n

    config WAMR_ENABLE_RTT_EXPORT
        bool
        prompt "Export Native Method of RT-Thread"
        default n

    if WAMR_ENABLE_RTT_EXPORT

        config WAMR_RTT_EXPORT_VPRINTF
            bool
            prompt "Export vprintf"
            default n

        config WAMR_RTT_EXPORT_DEVICE_OPS
            bool
            prompt "Export Device Operate Method"
            default n

        if WAMR_RTT_EXPORT_DEVICE_OPS
            config WAMR_RTT_EXPORT_DEVICE_OPS_CPP
                bool
                prompt "Enable WASM Cpp Support of Device Operate Method"
                default n
        endif

    endif

    config PKG_WAMR_VER
       string
       default "latest"    if PKG_USING_WAMR_LATEST_VERSION

endif

