config PKG_USING_EZXML
    bool "ezXML is a C library for parsing XML documents."
    default n

if PKG_USING_EZXML

    config PKG_EZXML_PATH
        string
        default "/packages/iot/ezXML"

    config PKG_EZXML_VER
        string
        default "v0.8.6"

endif
