menu "HAL & SDK Drivers"

rsource "stm32/Kconfig"
rsource "Infineon/Kconfig"
rsource "bluetrum_sdk/Kconfig"
rsource "embARC_bsp/Kconfig"
rsource "ESP-IDF/Kconfig"
rsource "kendryte-sdk/Kconfig"
rsource "nrf5x_sdk/Kconfig"
rsource "nrfx/Kconfig"
rsource "nuclei_sdk/Kconfig"
rsource "raspberrypi-pico-sdk/Kconfig"

endmenu
