menu "multimedia packages"

source "$PKGS_DIR/packages/multimedia/LVGL/Kconfig"
source "$PKGS_DIR/packages/multimedia/u8g2/Kconfig"
source "$PKGS_DIR/packages/multimedia/openmv/Kconfig"
source "$PKGS_DIR/packages/multimedia/mupdf/Kconfig"
source "$PKGS_DIR/packages/multimedia/STemWin/Kconfig"
source "$PKGS_DIR/packages/multimedia/wavplayer/Kconfig"
source "$PKGS_DIR/packages/multimedia/TJpgDec/Kconfig"
source "$PKGS_DIR/packages/multimedia/PDFGen/Kconfig"
source "$PKGS_DIR/packages/multimedia/helix/Kconfig"
source "$PKGS_DIR/packages/multimedia/AzureGUIX/Kconfig"
source "$PKGS_DIR/packages/multimedia/touchgfx2rtt/Kconfig"
source "$PKGS_DIR/packages/multimedia/NUemWin/Kconfig"
source "$PKGS_DIR/packages/multimedia/mp3player/Kconfig"
source "$PKGS_DIR/packages/multimedia/TinyJPEG/Kconfig"
source "$PKGS_DIR/packages/multimedia/ugui/Kconfig"
source "$PKGS_DIR/packages/multimedia/mcurses/Kconfig"
source "$PKGS_DIR/packages/multimedia/termbox/Kconfig"
source "$PKGS_DIR/packages/multimedia/vt100/Kconfig"
source "$PKGS_DIR/packages/multimedia/qrcode/Kconfig"
source "$PKGS_DIR/packages/multimedia/gui_engine/Kconfig"
source "$PKGS_DIR/packages/multimedia/persimmon/Kconfig"
source "$PKGS_DIR/packages/multimedia/3gpp_amrnb/Kconfig"

endmenu
