
# Kconfig file for package Adafruit-LSM303DLH-Mag
menuconfig PKG_USING_ARDUINO_ADAFRUIT_LSM303DLH_MAG
    bool "Adafruit LSM303DLH: Magnetometer Sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_SENSOR
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_LSM303DLH_MAG

    config PKG_ARDUINO_ADAFRUIT_LSM303DLH_MAG_PATH
        string
        default "/packages/arduino/sensors/Adafruit-LSM303DLH-Mag"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_LSM303DLH_MAG_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_LSM303DLH_MAG_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_LSM303DLH_MAG_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_LSM303DLH_MAG_LATEST_VERSION

endif

