
# Kconfig file for package agile_telnet
menuconfig PKG_USING_AGILE_TELNET
    bool "agile_telnet: TCP debug for Ethernet"
    default n
    select RT_USING_SAL             if RT_VER_NUM < 0x40100
    select SAL_USING_POSIX          if RT_VER_NUM < 0x40100
    select RT_USING_DFS             if RT_VER_NUM < 0x40100
    select RT_USING_POSIX_FS        if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_STDIO     if RT_VER_NUM >= 0x40100
    select RT_USING_POSIX_SOCKET    if RT_VER_NUM >= 0x40100

if PKG_USING_AGILE_TELNET

    config PKG_AGILE_TELNET_PATH
        string
        default "/packages/iot/agile_telnet"

    config PKG_AGILE_TELNET_THREAD_STACK_SIZE
        int "Set agile_telnet thread stack size"
        default 2048

    config PKG_AGILE_TELNET_THREAD_PRIORITY
        int "Set agile_telnet thread priority"
        default 26

    config PKG_AGILE_TELNET_PORT
        int "Set agile_telnet listen port"
        default 23

    config PKG_AGILE_TELNET_RX_BUFFER_SIZE
        int "Set agile_telnet rx buffer size"
        default 256

    config PKG_AGILE_TELNET_TX_BUFFER_SIZE
        int "Set agile_telnet tx buffer size"
        default 2048

    config PKG_AGILE_TELNET_CLIENT_DEFAULT_TIMEOUT
        int "Set agile_telnet client timeout(min)"
        default 3

    if PKG_AGILE_TELNET_VER_NUM >= 0x20000

        config PKG_AGILE_TELNET_CONSOLE_PLUG
            bool
            default y

    endif

    if PKG_AGILE_TELNET_VER_NUM >= 0x20002

        config PKG_AGILE_TELNET_USING_AUTH
            bool "agile_telnet support authentication"
            default n

        if PKG_AGILE_TELNET_USING_AUTH

            config PKG_AGILE_TELNET_USERNAME
                string "agile_telnet username"
                default "loogg"

            config PKG_AGILE_TELNET_PASSWORD
                string "agile_telnet password"
                default "loogg"

        endif

    endif

    choice
        prompt "Version"
        default PKG_USING_AGILE_TELNET_V203
        help
            Select the package version

        config PKG_USING_AGILE_TELNET_V203
            bool "v2.0.3"

        config PKG_USING_AGILE_TELNET_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_AGILE_TELNET_VER
       string
       default "v2.0.3"    if PKG_USING_AGILE_TELNET_V203
       default "latest"    if PKG_USING_AGILE_TELNET_LATEST_VERSION

    config PKG_AGILE_TELNET_VER_NUM
        hex
        default 0x20003    if PKG_USING_AGILE_TELNET_V203
        default 0x99999    if PKG_USING_AGILE_TELNET_LATEST_VERSION
endif

