
# Kconfig file for package Adafruit-SHT4X
menuconfig PKG_USING_ARDUINO_ADAFRUIT_SHT4X
    bool "Adafruit SHT4X: temperature & humidity sensor"
    select PKG_USING_RTDUINO
    select RTDUINO_USING_WIRE
    select PKG_USING_ARDUINO_ADAFRUIT_SENSOR
    select PKG_USING_ARDUINO_ADAFRUIT_BUSIO
    default n

if PKG_USING_ARDUINO_ADAFRUIT_SHT4X

    config PKG_ARDUINO_ADAFRUIT_SHT4X_PATH
        string
        default "/packages/arduino/sensors/Adafruit-SHT4X"

    choice
        prompt "Version"
        default PKG_USING_ARDUINO_ADAFRUIT_SHT4X_LATEST_VERSION
        help
            Select the package version

        config PKG_USING_ARDUINO_ADAFRUIT_SHT4X_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_ARDUINO_ADAFRUIT_SHT4X_VER
       string
       default "latest"    if PKG_USING_ARDUINO_ADAFRUIT_SHT4X_LATEST_VERSION

endif

