menuconfig PKG_USING_JSMN
    bool "jsmn: is a minimalistic JSON parser in C"
    default n

if PKG_USING_JSMN

    config PKG_JSMN_PATH
        string
        default "/packages/language/JSON/jsmn"

    choice
        prompt "Version"
        help
            Select this package version

        config PKG_USING_JSMN_V010
            bool "v0.1.0"

        config PKG_USING_JSMN_LATEST_VERSION
            bool "latest"
    endchoice

    config PKG_JSMN_VER
       string
       default "v0.1.0"    if PKG_USING_JSMN_V010
       default "latest"    if PKG_USING_JSMN_LATEST_VERSION

menu "jsmn Options"
    config JSMN_USING_EXAMPLE
        bool
        prompt "jsmn example"
        default n

    config JSMN_USING_TEST
        bool
        prompt "jsmn test"
        default n
endmenu

endif

